<div class="myprize">
	<div class="myprize_inner">
		<dl class="myprize_inner_top">
			<dt>
				<img src="./assets/img/prize2.png" alt="">
			</dt>
			<dd>
				<p class="myprize_tit">【我的奖品】</p>
				<p class="myprize_name">三等奖666名:</p>
				<p class="myprize_con">奥鹏大礼包（内含奥鹏定制笔记本一个，价值129元）</p>
			</dd>
		</dl>
		<div class="myprize_inner_bottom">
			<p class="myname"></p>
			<p class="myphone"></p>
			<p class="myprize_add"></p>
			<div class="changeaddress">修改收货信息</div>
		</div>
	</div>
	<p class="myprize_notice">注意：奖品发货前可修改收货信息，奖品一旦发出，不可再修改发货信息，请填写准确的收货信息。 </p>
</div>