<div id="article" class="article">
    <div class="article_inner">
        <ul class="opt">
            <li>
                <img src="./assets/img/porson.png" alt="">
                <input id="xingMing" class="name-1 userName" name='name' type="text" value="请输入姓名"/>
            </li>
            <li>
				<img src="./assets/img/phone.png" alt="">
                <input id="haoMa" class="phone-1 phoneNumber" name='phone' type="text" value="请输入手机号"/>
                <span class="error"></span>
            </li>
            <li class="form-submit cur">
                领取百元助学金>>
            </li>
        </ul>
		<div id="article_clo" class="article_clo"></div>
    </div>
</div>
