<div class="banner">
	<div id="second_div">
		<div class="img_box">
			<div class="img_box1 lun">
				<div class="banner_box1">
					<div class="banner_con">
						<h1 class="banner_con_one">修<span>985/211</span>名校学历,</h1>
						<h1 class="banner_con_two">轻松圆梦大学</h1>
						<ul class="banner_con_ul">
							<li><b>正规</b> 国家承认、学信网可查</li>
							<li><b>轻松</b> 不限基础、适合上班族</li>
							<li><b>省钱</b> 分期缴费、经济负担小</li>
						</ul>
						<span class="banner_con_span cur wechat">立即升专/本科学历>></span>
					</div>
				</div>
			</div>
			<div class="img_box2 lun">
				<div class="banner_box2">
					<div class="banner_con2">
						<p class="banner_con2_one">奥鹏教育学历提升中心</p>
						<h1 class="banner_con2_tit">名校官方授权，学费公开透明</h1>
						<div class="banner_con2_the"><i></i><span>The remote education</span><i></i></div>
						<p class="banner_con2_inn">高校统一收费，开据正规高校发票，拒绝各类收费陷阱!</p>
						<span class="banner_con2_btn cur wechat">查看官方授权资质>></span>
						<span class="banner_con2_btn cur wechat">查看高校收费标准>></span>
					</div>
				</div>
			</div>
		</div>   
	    <ul class="ul5">
			<li class="one ydd"></li>
			<li class="ydd"></li>
		</ul>
	    <div class="d1"></div>
	    <div class="d2"></div>
	</div>
</div>