<div class="bottom">
    <div class="bottom_con">
        <p class="bottom_si">
            <span>关于我们</span>
            <span>|</span>
            <span>法律声明</span>
            <span>|</span>
            <span>项目合作</span>
            <span>|</span>
            <span>联系我们</span>
        </p>
        <p class="banQuan">版权所有：北京奥鹏远程教育中心有限公司 Copyright ©2003-2019 open.com.cn ALL rights reserved </p>
        <p class="dengJi">登记序号：京ICP备12003892号-3 京ICP证090034号　<span>京公网安备 11010802026030号</span></p>
        <ul class="bom_qi">
            <li><img src="./assets/img/footer01.png" alt=""></li>
            <li><img src="./assets/img/footer02.png" alt=""></li>
            <li><img src="./assets/img/footer03.png" alt=""></li>
            <li><img src="./assets/img/footer04.png" alt=""></li>
            <li><img src="./assets/img/footer05.png" alt=""></li>
            <li><img src="./assets/img/footer06.png" alt=""></li>
            <li><img src="./assets/img/footer07.png" alt=""></li>
        </ul>
    </div>
</div>