<div class="chance">
    <div class="chance_inner">
        <div class="chance_tit">
            <p class="chance_tit_p">
                <span class="big">2019,</span>许自己一次<span>彻底蜕变</span>的机会！
                <img src="./assets/img/bsm.png" alt="">
            </p>
            <p class="chance_tit_p">绝不能让低学历成为绊脚石！</p>
            <p class="chance_tit_to">To embrace the space, which belongs to me in the sky, and to believe in myself and I surely will succeed!</p>
        </div>
        <div class="chance_con">
            <span class="chance_blue cur wechat">还有疑问？点击这里></span>
            <span class="chance_red cur wechat">提升学历，点击此处></span>
        </div>
    </div>
</div>