<div class="education">
	<div class="education_inner">
		<div class="education_tit">
			<h1>远程教育·适合在职人员的学历方式</h1>
			<ul class="steps">
			    <li class="edu"></li>
			    <li class="edu steps_two"></li>
				<li class="edu steps_three"></li>
				<li class="edu steps_four"></li>
				<li class="edu steps_five"></li>
				<li class="edu"></li>
			</ul>
			<p class="education_inn">担心工作忙? 没时间? 底子薄? 选对方式照样拿学历!</p>
		</div>
		<ul class="education_list">
			<li class="education_list_li">
				<h2>投入时间少</h2>
				<p>工作学习俩不误，有网络即可随时随地学习。</p>
				<span class="cur wechat">中专起点专科>></span>
			</li>
			<li class="education_list_li">
				<h2>取证时间短</h2>
				<p>一般需要2.5年即可毕业，拿证时间快。</p>
				<span class="cur wechat">高中起点专科>></span>
			</li>
			<li class="education_list_li">
				<h2>入门学槛低</h2>
				<p>年满18符合条件即可入学，符合条件还可免试入学。</p>
				<span class="cur wechat">中专起点专科>></span>
			</li>
			<li class="education_list_li">
				<h2>考试通过率高</h2>
				<p>平时占总成绩的40%左右，提供考前资料，提高通过率	。</p>
				<span class="cur wechat">高中起点本科>></span>
			</li>
			<li class="education_list_li">
				<h2>学习费用低</h2>
				<p>学费相对较低，并且可以分期学习，减小经济负担。</p>
				<span class="cur wechat">大专起点本科>></span>
			</li>
			<li class="education_list_li">
				<h2>证书含金量高</h2>
				<p>985/211名校学历，国家承认，社会认可，含金量高。</p>
				<span class="cur wechat">本科二学历>></span>
			</li>
		</ul>
	</div>
</div>