<div class="focu">
	<div class="focu_inner">
		<div class="focu_titt">
			<h1>选985/211重点院校，含金量更高</h1>
			<ul class="steps">
			    <li class="edu"></li>
			    <li class="edu steps_two"></li>
				<li class="edu steps_three"></li>
				<li class="edu steps_four"></li>
				<li class="edu steps_five"></li>
				<li class="edu"></li>
			</ul>
			<div class="focu_the"><i></i><span>高校官方授权，认准有资质的机构！</span><i></i></div>
		</div>
		<ul class="focu_school">
			<li class="focu_scl">
				<div class="focu_scl_nk">
					<span class='focu_scl_nk_span'>南开大学</span>
				</div>
				<div class="focu_tuiJian">
					<span class="tj">推荐指数：</span>
					<div class="start"></div>
				</div>
				<div class="focu_youShi">
					<span class="ys">报考优势：</span>
					<div class="fys">文理并重，可选专业多985/211，双一流院校百年名校，含金量高</div>
				</div>
				<div class="focu_btn">
					<span id="fz" class="fz btn_c wechat">招生简章</span>
					<span class="fz wechat">学费详情</span>
				</div>
			</li>
			<li class="focu_scl">
				<div class="focu_scl_nk dl">
					<span class='focu_scl_nk_span'>大连理工大学</span>
				</div>
				<div class="focu_tuiJian">
					<span class="tj">推荐指数：</span>
					<div class="start"></div>
				</div>
				<div class="focu_youShi">
					<span class="ys">报考优势：</span>
					<div class="fys">轻松入学，学制短985/211，双一流院校著名“四大工学院”之一</div>
				</div>
				<div class="focu_btn">
					<span class="fz btn_c wechat">招生简章</span>
					<span class="fz wechat">学费详情</span>
				</div>
			</li>
			<li class="focu_scl">
				<div class="focu_scl_nk db">
					<span class='focu_scl_nk_span'>东北大学</span>
				</div>
				<div class="focu_tuiJian">
					<span class="tj">推荐指数：</span>
					<div class="start"></div>
				</div>
				<div class="focu_youShi">
					<span class="ys">报考优势：</span>
					<div class="fys">开卷考试占比多985/211，双一流院校教育部直属重点大学</div>
				</div>
				<div class="focu_btn">
					<span class="fz btn_c wechat">招生简章</span>
					<span class="fz wechat">学费详情</span>
				</div>
			</li>
		</ul>

		<div id="links" class="links wechat">
			<ul id="slideContainer" class="slideContainer" >
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/jldx.png"/>
						<span class="sch">吉林大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/xndx.png"/>
						<span class="sch">西南大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/dkj.png"/>
						<span class="sch">电子科技大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/zgykdx.png"/>
						<span class="sch">中国医科大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/bsd.png"/>
						<span class="sch">北京师范大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/bjd.png"/>
						<span class="sch">北京交通大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/tjdx.png"/>
						<span class="sch">天津大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/dbcj.png"/>
						<span class="sch">东北财经大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/xbgydx.png"/>
						<span class="sch">西北工业大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/lzdx.png"/>
						<span class="sch">兰州大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/bzyd.png"/>
						<span class="sch">北京中医药大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/dbnyd.png"/>
						<span class="sch">东北农业大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/blg.png"/>
						<span class="sch">北京理工大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/xnjtdx.png"/>
						<span class="sch">西南交通大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/bwgyd.png"/>
						<span class="sch">北京外国语大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/dwjjmy.png"/>
						<span class="sch">对外经济贸易大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/byx.png"/>
						<span class="sch">北京大学(医学)</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/dbsd.png"/>
						<span class="sch">东北师范大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/djsf.png"/>
						<span class="sch">福建师范大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/byz.png"/>
						<span class="sch">北京邮电大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/zyyyxy.png"/>
						<span class="sch">中央音乐学院</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/hzsf.png"/>
						<span class="sch">华中师范大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/scnydx.png"/>
						<span class="sch">四川农业大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/xajtdx.png"/>
						<span class="sch">西安交通大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/zgdzdxbj.png"/>
						<span class="sch">中国地质大学</span>
					</span>
				</li>
				<li class="wechat">
					<span>
						<img src="./assets/img/schoolLogo/zgsydxbj.png"/>
						<span class="sch">中国石油大学</span>
					</span>
				</li>
			</ul>
		</div>

		<span class="foc_btn cur wechat">更多全国重点高校>></span>
	</div>
</div>


