<form class="ff">
<dl class="form clearfix">
	<dd>
		<p class="head">
			1.您目前最高学历：
		</p>
		<p class="radio">
			<label for="graduate1-@@type">
				<input class="level-0" id="graduate1-@@type" type="radio" name="graduate-@@type" value="本科学历"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>本科学历</span>
			</label>
			<label for="graduate2-@@type">
				<input class="level-0" id="graduate2-@@type" type="radio" name="graduate-@@type" value="大专学历"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>大专学历</span>
			</label>
			<label for="graduate3-@@type">

				<input class="level-0" id="graduate3-@@type" type="radio" name="graduate-@@type" value="高中学历"/>
			<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>高中/中专</span>
			</label>
			<label for="graduate4-@@type">

				<input class="level-0" id="graduate4-@@type" type="radio"  name="graduate-@@type" value="小学初中"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>小学/初中</span>
			</label>
			<label for="graduate5-@@type">

				<input class="level-0" id="graduate5-@@type" type="radio" name="graduate-@@type" value="其他学历"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>其他学历</span>
			</label>
			<!-- <label class="border">
				<input value="本科"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>&nbsp;&nbsp;&nbsp;本科</span>
			</label> -->
		</p>
	</dd>
</dl>
<div class="lines"></div>
<dl class="form clearfix">
	<dd>
		<p class="head">
			2.提升学历的原因：
		</p>
		<p class="radio">
			<label for="age1-@@type">
				<input class="muDi" id="age1-@@type" type="radio" name="age-@@type" value="升职加薪"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>工作需求</span>
			</label>
			<label for="age2-@@type">

				<input class="muDi" id="age2-@@type" type="radio" name="age-@@type" value="考资格证"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>考证资格</span>
			</label>
			<label for="age3-@@type">
				<input class="muDi" id="age3-@@type" type="radio" name="age-@@type" value="落户积分"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>落户</span>
			</label>
			<label for="age4-@@type">
				<input class="muDi" id="age4-@@type" type="radio"  name="age-@@type" value="其他需求"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>评职称</span>
			</label>
			<label for="age5-@@type">
				<input class="muDi" id="age5-@@type" type="radio"  name="age-@@type" value="其他需求"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>其他</span>
			</label>
		</p>
	</dd>
</dl>
<div class="lines"></div>
<dl class="form clearfix">
	<dd>
		<p class="head pp">
			3.您的手机号：
		</p>
		<p class="radio ph">
			<input style="display: none;" class="name-@@type userName" type="text" placeholder="输入姓名"/>
			<input class="phone-@@type phoneNumber cx" type="text" placeholder=""/>
			<span class="error pherror"></span>
		</p>
	</dd>
</dl>
<span class="form-submit">@@txt</span>
</form>
