<div class="formal">
	<div class="formal_inner">
		<div class="formal_tit">
			<h1>国家承认学历，正规收费，公开透明</h1>
			<div class="formal_xian">
				<p>奥鹏教育严格按照高校收费标准执行，无任何额外费用</p>
			</div>
		</div>
		<div class="formal_con">
			<div class="for_con_l">
				<ul class="for_ul">
					<li>
						<div class="for_list_im">
							<img src="./assets/img/authority.png" alt="">
						</div>
						<div class="for_list_in">
							<div class="in_box">
								<b></b>
								<p class="qw">
									权威
									<span> authority</span>
								</p>
							</div>
							<div class="in_box2">
								<p>奥鹏教育是被批准正式运营的现代远程教育公共服务体系！</p>
								<p>目前获得<span>36所高等院校官方授权，</span>是具有招生资质的服务平台。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="for_list_im">
							<img src="./assets/img/standard.png" alt="">
						</div>
						<div class="for_list_in">
							<div class="in_box">
								<b></b>
								<p class="qw">
									正规
									<span> standard</span>
								</p>
							</div>
							<div class="in_box2">
								<p>严格按照高校授权标准执行，学费<span>完全公开透明,不收取任何额外费用</span>。</p>
								<p>学校根据当地经济发展水平制定的学费，按学分/学年收取，学校不同，</p>
								<p>专业不同，学费也不同。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="for_list_im">
							<img src="./assets/img/safeguard.png" alt="">
						</div>
						<div class="for_list_in">
							<div class="in_box">
								<b></b>
								<p class="qw">
									保障
									<span> sageguard</span>
								</p>
							</div>
							<div class="in_box2">
								<p>奥鹏教育专注学历教育<span>19年，服务300万余学员</span>。一站式服务及轻松</p>
								<p>便捷的学习方式深受在职人员的欢迎，考前资料、名师指导等为学员</p>
								<p>顺利毕业奠定基础。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="for_list_im">
							<img src="./assets/img/money.png" alt="">
						</div>
						<div class="for_list_in">
							<div class="in_box">
								<b></b>
								<p class="qw">
									省钱
									<span> money</span>
								</p>
							</div>
							<div class="in_box2">
								<p>远程教育学费是<span>分学期缴纳</span>，一般学制是2.5年，减小了学员经济负担。</p>
								<p>奥鹏学员被录取之后，高校为学员开具电子版学费发票，保证学员权益。</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="for_con_r">
				<div class="r_img">
					<img src="./assets/img/xlzs.png" >
				</div>
			</div>
		</div>
		<span class="formal_btn cur wechat">查看高校学费标准>></span>
		<p class="formal_bom">教育机构乱象丛生，圈钱跑路时发生！拒绝收费陷阱，警惕各类学历包过的虚假宣传！</p>
	</div>
</div>