<div class="head-header">
	<ul class="header clearfix">
		<li class="start">
			<img class="header-logo" src="./assets/img/logo.png" >
			<div class="header-con">
				<p class="con-one">公共运营服务体系</p>
				<p class="con-two">高校授权指定招生单位</p>
			</div>
		</li>
		<li  class="sel">
			远程教育
			<ul class="sel-ul wechat">
				<li>入学条件</li>
				<li>报考时间</li>
				<li>报名入口</li>
				<li>报考须知</li>
				<li>更多信息</li>
			</ul>
		</li>
		<li  class="sel">
			热门专业
			<ul class="sel-ul wechat">
				<li>行政管理</li>
				<li>土木工程</li>
				<li>护理学</li>
				<li>学前教育</li>
				<li>工商管理</li>
				<li>计算机应用技术</li>
				<li>人力资源管理</li>
				<li>更多专业</li>
			</ul>
		</li>
		<li  class="sel">
			重点院校
			<ul class="sel-ul wechat">
				<li>南开大学</li>
				<li>大连理工大学</li>
				<li>东北财经大学</li>
				<li>中国医科大学</li>
				<li>四川农业大学</li>
				<li>东北师范大学</li>
				<li>中央音乐学院</li>
				<li>北京语言大学</li>
				<li>更多院校</li>
			</ul>
		</li>
		<li  class="sel">
			报考政策
			<ul class="sel-ul wechat">
				<li>考试内容</li>
				<li>报考流程</li>
				<li>考试时间</li>
				<li>报考须知</li>
				<li>免考政策</li>
				<li>查看更多</li>
			</ul>
		</li>
		<li class="sel">
			常见问题
			<ul class="sel-ul wechat">
				<li>上课方式</li>
				<li>报名条件</li>
				<li>报名时间</li>
				<li>院校选择</li>
				<li>拿证时间</li>
				<li>查看更多</li>
			</ul>
		</li>
		<li class="end wechat">
			学费咨询
		</li>
	</ul>
</div>
