<div class="learn">
    <div class="learn_inner">
        <div class="learn_tit">
            <h1>
                无论您在哪，奥鹏教育一直在您身边！
            </h1>
            <p class="learn_zz">
                专注学历19年，全国1800余家学习中心遍布全国!
            </p>
            <p class="learn_the">
                The remote education
            </p>
        </div>
        <div class="learn_con">
            @@include('./map.html')
        </div>
		<span class="cur wechat learnBtn">查看离我近的学习中心>></span>
    </div>
</div>