<div class="major">
	<div class="major_inner">
		<div class="major_tit">
			<h1>百余热门专业，覆盖全行业</h1>
			<ul class="steps">
			    <li class="maj"></li>
			    <li class="maj steps_two"></li>
				<li class="maj"></li>
			</ul>
			<p class="maj_inn">选专业，就三点：容易考；学费低；前途好！</p>
		</div>
		<ul class="major_si">
			<li class="_si_li">
				<div class="_si_list">
					人力资源管理
				</div>
				<p class="_si_inn">
					薪酬丰厚，不考高数，易考好就业
				</p>
			</li>
			<li class="_si_li">
				<div class="_si_list">
					土木工程
				</div>
				<p class="_si_inn">
					建筑行业，一建二建的必学专业
				</p>
			</li>
			<li class="_si_li">
				<div class="_si_list">
					计算机科学与技术
				</div>
				<p class="_si_inn">
					IT界薪贵专业，就业前景广阔
				</p>
			</li>
			<li class="_si_li">
				<div class="_si_list">
					药学
				</div>
				<p class="_si_inn">
					黄金职位，需求量大，就业常青树
				</p>
			</li>
		</ul>
		<div class="major_lei">
			<div class="_lei_list wechat">
				<ul class="_lei_ul">
					<li>土建类</li>
					<li class="c">土木工程</li>
					<li class="c">建筑工程技术</li>
					<li class="c">工程管理</li>
					<li class="c">水利水电工程</li>
					<li><span>+更多</span></li>
				</ul>
			</div>
			<div class="_lei_list wechat">
				<ul class="_lei_ul">
					<li>师范语言类</li>
					<li class="c">汉语言文学</li>
					<li class="c">学前教育</li>
					<li class="c">小学教育</li>
					<li class="c">英语</li>
					<li><span>+更多</span></li>
				</ul>
			</div>
			<div class="_lei_list wechat">
				<ul class="_lei_ul">
					<li>财经管理类</li>
					<li class="c">会计学</li>
					<li class="c">行政管理</li>
					<li class="c">财务管理</li>
					<li class="c">人力资源管理</li>
					<li><span>+更多</span></li>
				</ul>
			</div>
			<div class="_lei_list wechat">
				<ul class="_lei_ul">
					<li>机械制造类</li>
					<li class="c">机电一体化技术</li>
					<li class="c">船舶与海洋工程</li>
					<li class="c">机械电子工程</li>
					<li class="c">汽车服务工程</li>
					<li><span>+更多</span></li>
				</ul>
			</div>
			<div class="_lei_list wechat">
				<ul class="_lei_ul">
					<li>计算机类</li>
					<li class="c">计算机科学与技术</li>
					<li class="c">网络工程</li>
					<li class="c">软件工程</li>
					<li class="c">计算机应用技术</li>
					<li><span>+更多</span></li>
				</ul>
			</div>
			<div class="_lei_list wechat">
				<ul class="_lei_ul">
					<li>医学类</li>
					<li class="c">护理学</li>
					<li class="c">药学</li>
					<li class="c">中医学</li>
					<li class="c">眼视光技术</li>
					<li><span>+更多</span></li>
				</ul>
			</div>
			<div class="_lei_list wechat">
				<ul class="_lei_ul">
					<li>其他类</li>
					<li class="c">产品设计</li>
					<li class="c">大气科学</li>
					<li class="c">食品质量与安全</li>
					<li class="c">食品检测技术</li>
					<li><span>+更多</span></li>
				</ul>
			</div>
		</div>
		<div class="major_btn">
			<span class="cur wechat">2019年就业率高的专业>></span>
			<span class="cur wechat">免高数、英语的专业>></span>
			<span class="cur wechat">更多热门专业>></span>
		</div>
	</div>
</div>