<div class="process">
	<div class="process_inner">
		<div class="process_tit">
			<h1>远程教育学历报考全流程</h1>
			<ul class="steps">
			    <li class="maj"></li>
			    <li class="maj steps_two"></li>
				<li class="maj"></li>
			</ul>
		</div>
		<div class="process_con">
			<ul class="s_con_top">
				<li>
					<p class="num">01</p>
					<h2>报名时间/条件</h2>
					<p class="inn">年满18周岁，有当地户籍或社保卡</p>
					<span class="cur wechat">查看报名详情</span>
				</li>
				<li>
					<p class="num">03</p>
					<h2>提交报名信息</h2>
					<p class="inn">提交身份证、毕业证、照片等</p>
					<span class="cur wechat">查看报名须知</span>
				</li>
				<li>
					<p class="num">05</p>
					<h2>毕业/学位申请</h2>
					<p class="inn">符合高校毕业条件即可申请毕业证</p>
					<span class="cur wechat">查看毕业条件</span>
				</li>
			</ul>
			<ul class="s_con_top2">
				<li class="top2_li">
					<div>
						<p class="num">02</p>
						<h2>院校专业选择</h2>
						<p class="inn">选择适合自己的院校及心仪的专业</p>
						<span class="cur wechat">查看高校专业</span>
					</div>
				</li>
				<li class="top2_li">
					<div>
						<p class="num">04</p>
						<h2>平台学习考试</h2>
						<p class="inn">无需到校、即可随时随地平台学习</p>
						<span class="cur wechat">查看考试科目</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>