<div class="talent">
	<div class="talent_inner">
		<div class="talent_tit">
			<div class="ta_tit_top">
				<h1>别说自己怀才不遇？没学历谁会在乎你的能力</h1>
			</div>
			<p>提升学历才能顺利升职加薪、考公务员、积分落户、考研考证等</p>
		</div>
		<div class="talent_con">
			<div class="talent_con_list">
				<p class="ta_list_p">低学历连获取面试机会都没有？</p>
				<div class="ta_list_div">
					<span class="ta_ls_mj">秘籍:</span>
					<div class="ta_ls_div">
						<p>高学历是大企业的敲门砖，可以选择</p>
						<p>升专本科提高就业机会！</p>
					</div>
				</div>
			</div>
			<div class="talent_con_list">
				<p class="ta_list_p">想考公务员却因学历低、专业不符无法报考？</p>
				<div class="ta_list_div">
					<span class="ta_ls_mj">秘籍:</span>
					<div class="ta_ls_div">
						<p>可选择报读汉语言文学等公务员</p>
						<p>热门专业提升学历。</p>
					</div>
				</div>
			</div>
			<div class="talent_con_list">
				<p class="ta_list_p">想落户大城市却很难，怎么办？</p>
				<div class="ta_list_div">
					<span class="ta_ls_mj">秘籍:</span>
					<div class="ta_ls_div">
						<p>各城市人才引进，学历是大城市落户的标准之一。</p>
						<p>如本科学历可直接落户天津等一线城市！</p>
					</div>
				</div>
			</div>
			<div class="talent_con_list">
				<p class="ta_list_p">能力足够却因学历低被老板拒绝升职加薪？</p>
				<div class="ta_list_div">
					<span class="ta_ls_mj">秘籍:</span>
					<div class="ta_ls_div">
						<p>高学历是提拔人才的重要指标，工资奖金</p>
						<p>都远大于低学历人群。</p>
					</div>
				</div>
			</div>
			<div class="talent_con_list">
				<p class="ta_list_p">药师资格证等政策改革，中专将无法报考？</p>
				<div class="ta_list_div">
					<span class="ta_ls_mj">秘籍:</span>
					<div class="ta_ls_div">
						<p>提升至国家承认的专/本科学历可顺利</p>
						<p>报考资格证，早报早拿证！	</p>
					</div>
				</div>
			</div>
		</div>
		<span class="talent_btn cur wechat">量身定制专属学历提升方案>></span>
	</div>
</div>
