.header{
    position: fixed;
    top: 0;
    z-index: 9999;
    width:3.75rem;
    padding: 0.093333rem 0;
    background-color: #4b8ddd;
    li{
        float: left;
        height: 0.26rem;
        line-height: 0.26rem;
        width: 25%;
        font-size: 0.133333rem;
        color: #fff;
        text-align: center;
        border-right: 1px solid #fff;
        cursor: pointer;
    }
    li.end{
        border: none;
    }
}
