<form class="com-form">
	<div>
		<i class="iconfont con">&#xe69c;</i>
		<input data-num='0' data-type="phoneNum" class="phone enter" placeholder="请输入手机号" type="text" maxlength="11"/>
	</div>
	<p  class="error"></p>
	<div>
		<i class="iconfont con">&#xe69e;</i>
		<input data-num='1' data-type="imgCode" class="img-code enter" placeholder="请输入图形验证码" type="text" maxlength="4"/>
		<img data-type="getImgCode" src="./assets19zhounianqing/img/code.png" class="valid"  />
	</div>
	<p class="error"></p>
	<div>
		<i class="iconfont con">&#xe69f;</i>
		<input data-num='2' data-type="phoneCode" class="code enter" placeholder="请输入手机验证码" type="text" maxlength="4"/>
		<button data-type="getCode" class="getcode" type="button">获取验证码</button>
	</div>
	<p  class="error"></p>
</form>