<div class="slider-box">
	<img src="./assets19zhounianqing/img/slider-t.png" alt="" class="slider-img" />
	<dl class="opt">
		<dd>
				<a class="fir" href="#z-egg">
					一锤定音
				</a>
			</dd>
			<dd>
				<a class="fir" href="#rule">
					活动规则
				</a>
			</dd>
			<dd class="my-gift">
				<a class="fir" href="#gift">
					我的奖品
				</a>
			</dd>
		<dd class="wxin">
			官方微信
			<p class="wx-code">
				<em class="mask-tip"></em>
				<span class="arrow"></span>
				<img src="./assets19zhounianqing/img/wxShare.png" alt="奥鹏微信公众号" />
			</p>
		</dd>
		<dt class="signWechatBtn">
			在线咨询
		</dt>
		<dt class="go-top">
			<a  href="#header">
				返回顶部
			</a>
		</dt>
	</dl>
</div>