<div class="bet">
    <div class="bet-inner">
        <div class="bet-con">
            <ul class="bet-inner-l">
                <li>专科学历</li>
                <li>无形中会减少许多面试的机会，多年工作经验才增加机会</li>
                <li>专科学历晋升不仅业务能力强，还需要学历够硬</li>
                <li>专科在毕业满两年后，可以报考同等学历研究生</li>
                <li>职称评定与学历挂钩，专科学历评职称的几率相对较小</li>
                <li>学历是积分落户的加分项，在北京专科学历可加10.5分</li>
            </ul>
            <ul class="bet-inner-c">
                <li>vs</li>
                <li>就业</li>
                <li>晋升<br>加薪</li>
                <li>考研<br>究生</li>
                <li>评<br>职称</li>
                <li>积分<br>落户</li>
            </ul>
            <ul class="bet-inner-r">
                <li>本科学历</li>
                <li><span class="dian"></span>本科学历就业率相对较高，名校学历面试机会也较多</li>
                <li><span class="dian"></span>本科学历就业率相对很多单位本科工资高一档（500-<br>1000元），晋升几率大</li>
                <li><span class="dian"></span>本科学历，不需学位证，可以直接报考全国统招研究生</li>
                <li><span class="dian"></span>本科学历评职称时间短、高级职称必须要本科学历</li>
                <li><span class="dian"></span>北京本科学历取得学士学位加15分，其他很多城市<br>可直接落户</li>
            </ul>
        </div>
        <span class="wechat bet-btn">查看其他区别>></span>
    </div>
</div>
