<div class="highnew">
    <div class="highnew-inner">
        <div class="high-tit">
            <p><b>二、本科高薪专业</b><span>报读本科选高薪，热门专业，前途好，好就业！</span></p>
        </div>
        <div class="high-con">
            <nav id="nav">
                <ul>
                    <li class="act">计算机类</li>
                    <li>机械类</li>
                    <li>土建类</li>
                    <li>管理类</li>
                    <li>医学类</li>
                    <li>师范语言类</li>
                </ul>
            </nav>
            <!--内容部分HTML代码-->
            <div id="container">
                <section class="tab">
                    <div class="tab-l">
                        <img src="../assets/img/ACS.png" alt="">
                    </div>
                    <div class="tab-r">
                        <div class="top">
                            <p>随着国内计算机互联网的不断发展，对于高科技的人才需求越来越旺盛，同时
                                提供了许多相关岗位的就业机会，毕业生就业率很高，而且薪资待遇也十分不错！据统计，2018年本科月收入高的学科门类是工学。从事IT类职业的本科毕业生月收入较高！</p>
                            <div class="top-div">
                                <span><a href="http://www.open.com.cn/major/?b=1&t=1&l=3" target="view_window">计算机科学与技术</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=1&t=14&l=3" target="view_window">信息管理</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=1&t=5&l=3" target="view_window">网络工程</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=1&t=29&l=3" target="view_window">软件工程</a></span>
                            </div>
                        </div>
                        <span class="top-btn bigbtn">更多热门专业>></span>
                    </div>
                </section>
                <section class="tab">
                    <div class="tab-l">
                        <img src="../assets/img/machinery.png" alt="">
                    </div>
                    <div class="tab-r">
                        <div class="top">
                            <p>
                                机械类专业就业前景是非常不错的，市场需求量一直很大，是应用非常广泛的一门专业。一般具备敏锐的感受力和独特的创造力，富于想象力，并具备较强的动手能力。机械制造与自动化等专业薪资是非常可观的。
                            </p>
                            <div class="top-div" id="jX">
                                <span><a href="http://www.open.com.cn/major/?b=4&t=7&l=3" target="view_window">机械工程</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=4&t=80&l=3" target="view_window">汽车工程</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=4&t=4&l=3" target="view_window">船舶工程</a></span>
                            </div>
                        </div>
                        <span class="top-btn bigbtn">更多热门专业>></span>
                    </div>
                </section>
                <section class="tab">
                    <div class="tab-l">
                        <img src="../assets/img/civil.png" alt="">
                    </div>
                    <div class="tab-r">
                        <div class="top">
                            <p>随着国家和各地对基础设施投资力度的加大，社会市场的繁荣，人民生活水平的提高，人们对居住环境需求水平的提高，土建类专业一直很热门，就业形势也很好，薪资待遇一般都不低。</p>
                            <div class="top-div" id="tuJian1">
                                <span><a href="http://www.open.com.cn/major/?b=7&t=11&l=3" target="view_window">土木工程</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=7&t=32&l=3" target="view_window">工程管理</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=7&t=36&l=3" target="view_window">建筑工程</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=7&t=44&l=3" target="view_window">工程造价</a></span>
                            </div>
                            <div class="top-div" id="tuJian2">
                                <span><a href="http://www.open.com.cn/major/?b=7&t=47&l=3" target="view_window">&nbsp;&nbsp;房地产&nbsp;</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=7&t=51&l=3" target="view_window">道路桥梁</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=7&t=86&l=3" target="view_window">水利水电</a></span>
                            </div>
                        </div>
                        <span class="top-btn bigbtn">更多热门专业>></span>
                    </div>
                </section>
                <section class="tab">
                    <div class="tab-l">
                        <img src="../assets/img/management.png" alt="">
                    </div>
                    <div class="tab-r">
                        <div class="top">
                            <p>随着时代的进步，不同类型的公司不断涌现，对管理学类高学历人才的需求也不断增大。管理类专业就业范围广泛，基本上不受各类组织形式的限制，就业面也非常广，薪资待遇很不错。</p>
                            <div class="top-div" id="tuJian1">
                                <span><a href="http://www.open.com.cn/major/?b=3&t=3&l=3" target="view_window">行政管理</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=3&t=12&l=3" target="view_window">电子商务</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=3&t=23&l=3" target="view_window">工商管理</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=3&t=27&l=3" target="view_window">市场营销</a></span>
                            </div>
                            <div class="top-div" id="tuJian3">
                                <span><a href="http://www.open.com.cn/major/?b=3&t=30&l=3" target="view_window">旅游管理</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=3&t=31&l=3" target="view_window">公共事业</a></span>
                                <span class="tb"><a href="http://www.open.com.cn/major/?b=3&t=33&l=3" target="view_window">人力资源管理</a></span>
                            </div>
                        </div>
                        <span class="top-btn bigbtn">更多热门专业>></span>
                    </div>
                </section>
                <section class="tab">
                    <div class="tab-l">
                        <img src="../assets/img/medical.png" alt="">
                    </div>
                    <div class="tab-r">
                        <div class="top">
                            <p>医学类专业是比较热门的一个学科，随着医学教育事业的迅猛发展，医学类的专业不仅薪资福利很好，而且堪称是铁饭碗。这一行业永不过时，不怕会淘汰，职业生也是越老越吃香。</p>
                            <div class="top-div" id="yx">
                                <span><a href="http://www.open.com.cn/major/?b=14&t=54&l=3" target="view_window">护理学</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=14&t=63&l=3" target="view_window">药学</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=14&t=114&l=3" target="view_window">中医</a></span>
                            </div>
                        </div>
                        <span class="top-btn bigbtn">更多热门专业>></span>
                    </div>
                </section>
                <section class="tab">
                    <div class="tab-l">
                        <img src="../assets/img/Normal.png" alt="">
                    </div>
                    <div class="tab-r">
                        <div class="top">
                            <p>在教育日益受重视的环境下，师范语言类专业就业方向大多是教育事业者，也可以在事业单位、企业从事相关工作。就业前景还是比较开阔的，工作工资也相对稳定，是一个不错的选择。</p>
                            <div class="top-div" id="hyy">
                                <span><a href="http://www.open.com.cn/major/?b=2&t=2&l=3" target="view_window">汉语言文学</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=2&t=39&l=3" target="view_window">初等教育</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=2&t=40&l=3" target="view_window">学前教育</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=2&t=45&l=3" target="view_window">教育管理</a></span>
                            </div>
                            <div class="top-div" id="hyy2">
                                <span><a href="http://www.open.com.cn/major/?b=2&t=42&l=3" target="view_window">英语</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=2&t=65&l=3" target="view_window">数学</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=2&t=74&l=3" target="view_window">生物</a></span>
                                <span><a href="http://www.open.com.cn/major/?b=2&t=75&l=3" target="view_window">历史</a></span>
                            </div>
                        </div>
                        <span class="top-btn bigbtn">更多热门专业>></span>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
