<div class="engineering">
    <div class="eng-inner">
        <div class="eng-tit">
            <p><b>一、高校优惠信息</b><span>报读本科学历（专升本、本科二学历）符合条件可享受免修或免考政策</span></p>
        </div>
        <div class="eng-small">
            <b></b>
            <span class="gk">工科类院校</span>
            <span class="eng">Engineering school</span>
        </div>
        <div class="eng-con">
            <ul class="eng-con-ul">
                <li>
                    <p class="name">
                        大连理工大学专升本
                    </p>
                    <p class="tit">
                        专升本、本科二学历政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本校网络教育续读生或本科及以上学历
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读减免：
                        </dt>
                        <dd>
                            减免学分不超过16学分
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            本科二学历：
                        </dt>
                        <dd>
                            免修20学分课程
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26260.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/dllgdx.png" alt="">
                    </div>
                </li>
                <li>
                    <p class="name">
                        东北大学专升本
                    </p>
                    <p class="tit">
                        专升本、本科二学历政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历或成绩达到本科标准
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读优惠：
                        </dt>
                        <dd>
                            学分优惠，免费选课10学分
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            本科二学历：
                        </dt>
                        <dd>
                            免修16学分课程
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26302.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/dbdx.png" alt="">
                    </div>
                </li>
                <li class="xiNan">
                    <p class="name">
                        西南交通大学专升本
                    </p>
                    <p class="tit">
                        专升本、本科二学历政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本校网络教育专科或本科及以上学历
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读免考：
                        </dt>
                        <dd>
                            免考四门课程，成绩按合格计算
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26304.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/xnjtdx.png" alt="">
                    </div>
                </li>
                <li>
                    <p class="name">
                        中国石油大学(北京)专升本
                    </p>
                    <p class="tit">
                        专升本、本科二学历政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历或成绩达到本科标准或<br>
                            本校高起专续读
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读优惠：
                        </dt>
                        <dd>
                            优惠6学分
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26306.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/zgsydx.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="comprehensive">
    <div class="eng-inner">
        <div class="eng-small">
            <b></b>
            <span class="gk">综合类院校</span>
            <span class="eng">Comprehensive school</span>
        </div>
        <div class="eng-con">
            <ul class="eng-con-ul">
                <li>
                    <p class="name">
                        中国人民大学专升本
                    </p>
                    <p class="tit">
                        专升本、本科二学历政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读优惠：
                        </dt>
                        <dd>
                            优惠10学分
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            本科二学历优惠：
                        </dt>
                        <dd>
                            优惠10学分
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26310.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/zgrmdx.png" alt="">
                    </div>
                </li>
                <li class="siCHuan">
                    <p class="name">
                        四川大学专升本
                    </p>
                    <p class="tit">
                        专升本政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            成人高考成绩达到本科标准
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读优惠：
                        </dt>
                        <dd>
                            10学分的学分优惠
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26312.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/scdx.png" alt="">
                    </div>
                </li>
                <li>
                    <p class="name">
                        兰州大学专升本
                    </p>
                    <p class="tit">
                        专升本政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历或成绩达到本科标准
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            本校续读免修：
                        </dt>
                        <dd>
                            可免修4学分的课程
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            专业续读免修：
                        </dt>
                        <dd>
                            可免修10学分的课程
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26314.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/lzdx.png" alt="">
                    </div>
                </li>
                <li class="xiAn">
                    <p class="name">
                        西安交通大学专升本
                    </p>
                    <p class="tit">
                        专升本政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历或本校续读生
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读减免：
                        </dt>
                        <dd>
                            减免15个学分学费可申请部分<br>课程免考
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26316.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/xajtdx.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="language">
    <div class="eng-inner">
        <div class="eng-small">
            <b></b>
            <span class="gk">语言类院校</span>
            <span class="eng">Language college</span>
        </div>
        <div class="eng-con">
            <ul class="eng-con-ul">
                <li>
                    <p class="name">
                        北京语言大学专升本
                    </p>
                    <p class="tit">
                        专升本、本科二学历政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历或成绩达到本科标准
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            本校续读免修：
                        </dt>
                        <dd>
                            可免修10学分
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            优惠政策：
                        </dt>
                        <dd>
                            1、全国网院、开放大学、中央电大、省级电大<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大专毕业生优惠：可优惠10学分学费<br>
                            2、高职高专全日制专科毕业生可申请<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;免考12学分课程
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26318.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/zgrmdx.png" alt="">
                    </div>
                </li>
                <li class="bwgy">
                    <p class="name">
                        北京外国语大学专升本
                    </p>
                    <p class="tit">
                        专升本（本科二学历）政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历（英语专业除外）
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读优惠：
                        </dt>
                        <dd>
                            本校续读、各高校网络教育专科毕业生、<br>电大专科毕业生续读政策：经管专业免收“毕业<br>论文”6学分课程学费
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26320.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/bjwgydx.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="normal">
    <div class="eng-inner">
        <div class="eng-small">
            <b></b>
            <span class="gk">师范类院校</span>
            <span class="eng">normal universities and college</span>
        </div>
        <div class="eng-con">
            <ul class="eng-con-ul">
                <li>
                    <p class="name">
                        东北师范大学专升本
                    </p>
                    <p class="tit">
                        专升本政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历或成绩达到本科标准
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读免修：
                        </dt>
                        <dd>
                            可申请免修三门课程（10学分）
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26322.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/dbsfdx.png" alt="">
                    </div>
                </li>
                <li>
                    <p class="name">
                        福建师范大学专升本
                    </p>
                    <p class="tit">
                        专升本政策优势：
                    </p>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历或成绩达到本科标准
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            续读免考：
                        </dt>
                        <dd>
                            可免修免考指定四门课程
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26324.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/fjsfdx.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="finance">
    <div class="eng-inner">
        <div class="eng-small">
            <b></b>
            <span class="gk">财经类院校</span>
            <span class="eng">Universities of Finance and Economics</span>
        </div>
        <div class="eng-con">
            <ul class="eng-con-ul">
                <li>
                    <p class="name">
                        东北财经大学专升本
                    </p>
                    <p class="tit">
                        专升本、本科二学历政策优势：
                    </p>
                    <dl class="first">
                        <dt>
                            <span class="dian"></span>
                            免试入学：
                        </dt>
                        <dd>
                            本科及以上学历
                        </dd>
                    </dl>
                    <dl class="two">
                        <dt>
                            <span class="dian"></span>
                            续读优惠：
                        </dt>
                        <dd>
                            优惠10学分学费
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <span class="dian"></span>
                            本科二学历免修：
                        </dt>
                        <dd>
                            免修20学分课程
                        </dd>
                    </dl>
                    <div class="un-btn">
                        <span class="xiangQing"><a href="http://www.open.com.cn/news/26328.html" target="view_window">本科优惠政策详情>></a></span>
                        <span class="ziXun">立即咨询>></span>
                    </div>
                    <div class="un-img">
                        <img src="../assets/img/dbcjdx.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
