<div class="banner">
    <div class="banner-inner">
        <div class="banner-time">
            <p class="time-o">距离活动开始仅剩</p>
            <div class="count-down" style="display: none;">
                <div class="process">
                    <span id="lampBox"></span>
                    <p></p>
                </div>
                <div class="count-down-in">
                    <span class="time d">00</span>天
                    <span class="time h">00</span>时
                    <span class="time m">00</span>分
                    <span class="time s">00</span>秒 
                </div>
            </div>
        </div>
    </div>
</div>