<div class="card">
    <div class="card-tit"></div>
    <div class="card-inner">
        <ul>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
            <li class="flip-container">
                <a class="flipper" href="javascript:void(0);">
                    <div class="front">
                        <img src="../assets200208/img/fu.png" alt="">
                    </div>
                    <div class="back">
                        <img src="../assets200208/img/fubak.png" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>