<div class="major">
    <div class="major-tit"></div>
    <div class="major-inner">
        <ul class="major-inner-list">
            <li>
                <a href="http://m.open.com.cn/major/18140.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/16721.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">护理学</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>57562人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>3年</span>
                    </div>
                    <div class="c-name">
                        <span class="pink">录取快</span>
                        <span class="pink">特色专业</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.open.com.cn/major/33946.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/17081.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">汉语言文学</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>45945人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>2.5年</span>
                    </div>
                    <div class="c-name">
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.open.com.cn/major/19414.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/16555.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">土木工程</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>44291人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>2.5年</span>
                    </div>
                    <div class="c-name">
                        <span class="pink">录取快</span>
                        <span class="pink">特色专业</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.open.com.cn/major/30344.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/17054.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">会计学</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>34915人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>2.5年</span>
                    </div>
                    <div class="c-name">
                        <span class="pink">院校推荐</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.open.com.cn/major/30116.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/16853.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">行政管理</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>30304人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>2.5年</span>
                    </div>
                    <div class="c-name">
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.open.com.cn/major/19028.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/16818.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">电气工程及其自动化</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>29487人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>2.5年</span>
                    </div>
                    <div class="c-name">
                        <span class="pink">录取快</span>
                        <span class="pink">特色专业</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.open.com.cn/major/33883.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/16924.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">学前教育</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>19502人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>2.5年</span>
                    </div>
                    <div class="c-name">
                        <span class="pink">院校推荐</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.open.com.cn/major/17954.html" target="_bank">
                    <div class="img">
                        <img data-original="http://m.open.com.cn/product/img/product/16571.jpg" class="lazy"  alt="">
                    </div>
                    <p class="major-name">药学</p>
                    <div class="icon">
                        <i class="iconfont">&#xe647;</i><span>23877人报读</span>
                        <i class="iconfont">&#xe65a;</i><span>3年</span>
                    </div>
                    <div class="c-name">
                        <span class="pink">录取快</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="major-btn">
        <p class="major-btn-more">
            <a href="http://m.open.com.cn/major/index.html" target="_bank">
                <span>查看更多热门专业</span>
                <i class="iconfont jian">&#xe655;</i>
            </a>    
        </p>
        <p class="major-meiqia">
            <span>立即咨询</span>
            <i class="iconfont kefu">&#xe658;</i>
        </p>
    </div>
</div>