<div class="over">
    <div class="over-red">
        <div class="over-yellow">
            <div class="over-err">
                <p>活动已结束, 更多活动请关注</p>
                <p>奥鹏教育微信官网  &  奥鹏教育微信公众号</p>
            </div>
            <div class="over-img">
                <div class="erweima">
                    <img class="wxShare" src="../assets200208/img/wxShare.png" alt="">
                    <img class="house" src="../assets200208/img/house.png" alt="">
                </div>
                <div class="erweima1">
                    <img class="wxShare" src="../assets200208/img/wxShare.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="over-btn">
        确定
    </div>
    <img class="dengl" src="../assets200208/img/dengl.png" alt="">
</div>