<div class="rulesprize">
    <div class="rules-tit"></div>
    <div class="rulesprize-inner">
        <h1>※活动规则</h1>
        <p>1、本活动仅限未报名缴费的用户参与（奥鹏教育OCES平台显示已毕业的学生也可参与）；</p>
        <p>2、每个用户拥有2次开新年福卡机会；</p>
        <p>3、本场活动持续时间为<span class="rulestime1"></span>；</p>
        <p>4、本活动助学金使用日期为<span class="rulestime"></span>；</p>
        <p>5、助学金仅限奥鹏教育报名缴费支付使用，不可转让，不可兑现，不可叠加使用；</p>
        <p>6、助学金数量有限，先到先得，抽完即止；</p>
        <p>7、如有恶意操作，一经发现取消参与资格，并收回奖品所得；</p>
        <h1>※活动声明</h1>
        <p>活动规则以奥鹏教育发布的具体规则为准，本活动最终解释权归奥鹏教育所有。</p>
        <h1>※奖品设置</h1>
        <div class="prize prize-p">
            <div class="prize-top">
                <!-- <img src="../assets200208/img/300m.png" alt="">
                <p>300元助学金</p> -->
            </div>
            <div class="prize-bot">
                <div class="prize-left">
                    <!-- <img src="../assets200208/img/200m.png" alt="">
                    <p>200元助学金</p> -->
                </div>
                <div class="prize-right">
                    <!-- <img src="../assets200208/img/100m.png" alt="">
                    <p>100元助学金</p> -->
                </div>
            </div>
        </div>
        
    </div>
    <div class="roster">
        <div class="roster-inner">
            <div id="demo" class="list_div">
				<!-- <ul id="demo1">
                 <li><span class="list_phone">135*****7867</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****7867</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****7317</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****1827</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****1827</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****7867</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****1827</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****7867</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****1827</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****7867</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****7537</span><span class="list_text">获得了300元助学金</span></li>
				 <li><span class="list_phone">135*****7637</span><span class="list_text">获得了300元助学金</span></li>
				</ul>
				<div id="demo2"></div> -->
			</div>
        </div>
    </div>
</div>