<div class="school">
	<div class="school_inner">
		<div class="school_inner_tit"></div>
	</div>
	<ul class="school_edu">
		<li>
			<a href="/school/10032.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10032.png" class="lazy"  alt="">
				</div>
				<p>北京语言大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10055.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10055.png" class="lazy"  alt="">
				</div>
				<p>南开大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10141.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10141.png" class="lazy"  alt="">
				</div>
				<p>大连理工大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10200.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10200.png" class="lazy" alt="">
				</div>
				<p>东北师范大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10159.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10159.png" class="lazy" alt="">
				</div>
				<p>中国医科大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10145.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10145.png" class="lazy" alt="">
				</div>
				<p>东北大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10394.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10394.png" class="lazy" alt="">
				</div>
				<p>福建师范大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10183.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10183.png" class="lazy" alt="">
				</div>
				<p>吉林大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10635.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10635.png" class="lazy" alt="">
				</div>
				<p>西南大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10698.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10698.png" class="lazy" alt="">
				</div>
				<p>西安交通大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10626.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10626.png" class="lazy" alt="">
				</div>
				<p>四川农业大学</p>
			</a>
		</li>
		<li>
			<a href="/school/11901.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/11901.png" class="lazy" alt="">
				</div>
				<p>四川大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10173.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10173.png" class="lazy" alt="">
				</div>
				<p>东北财经大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10007.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10007.png" class="lazy" alt="">
				</div>
				<p>北京理工大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10613.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10613.png" class="lazy" alt="">
				</div>
				<p>西南交通大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10030.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10030.png" class="lazy" alt="">
				</div>
				<p>北京外国语大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10511.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10511.png" class="lazy" alt="">
				</div>
				<p>华中师范大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10224.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10224.png" class="lazy" alt="">
				</div>
				<p>东北农业大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10730.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10730.png" class="lazy" alt="">
				</div>
				<p>兰州大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10027.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10027.png" class="lazy" alt="">
				</div>
				<p>北京师范大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10036.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10036.png" class="lazy" alt="">
				</div>
				<p>对外经济贸易大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10004.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10004.png" class="lazy" alt="">
				</div>
				<p>北京交通大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10614.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10614.png" class="lazy" alt="">
				</div>
				<p>电子科技大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10295.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10295.png" class="lazy" alt="">
				</div>
				<p>江南大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10013.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10013.png" class="lazy" alt="">
				</div>
				<p>北京邮电大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10033.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10033.png" class="lazy" alt="">
				</div>
				<p>中国传媒大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10046.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10046.png" class="lazy" alt="">
				</div>
				<p>中央音乐学院</p>
			</a>
		</li>
		<li>
			<a href="/school/b0001.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/b0001.png" class="lazy" alt="">
				</div>
				<p>北京大学(医学)</p>
			</a>
		</li>
		<li>
			<a href="/school/10002.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10002.png" class="lazy" alt="">
				</div>
				<p>中国人民大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10026.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/20190710/15627465215d259e99b6498.png" class="lazy" alt="">
				</div>
				<p>北京中医药大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10056.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10056.png" class="lazy" alt="">
				</div>
				<p>天津大学</p>
			</a>
		</li>
		<li>
			<a href="/school/10699.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/10699.png" class="lazy" alt="">
				</div>
				<p>西北工业大学</p>
			</a>
		</li>
		<li>
			<a href="/school/11414.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/11414.png" class="lazy" alt="">
				</div>
				<p>中国石油大学(华东)</p>
			</a>
		</li>
		<li>
			<a href="/school/11415.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/11415.png" class="lazy" alt="">
				</div>
				<p>中国地质大学(北京)</p>
			</a>
		</li>
		<li>
			<a href="/school/21414.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/21414.png" class="lazy" alt="">
				</div>
				<p>中国石油大学(北京)</p>
			</a>
		</li>
		<li>
			<a href="/school/51315.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/51315.png" class="lazy" alt="">
				</div>
				<p>广州开放大学</p>
			</a>
		</li>
		<li>
			<a href="/school/51357.html" target="_blank">
				<div class="school_logo">
					<img data-original="http://m.open.com.cn/product/img/schoollogo/20190826/15668172735d63bbf975b63.png" class="lazy" alt="">
				</div>
				<p>云南开放大学</p>
			</a>
		</li>
	</ul>
	<p class="school_btn"><span>查看更多高校</span><i class="iconfont jian">&#xe691;</i></p>
</div>