/*
 * @Author: 梁杰
 * @Date: 2020-01-07 16:12:43
 * @LastEditors  : 梁杰
 * @LastEditTime : 2020-01-10 16:37:35
 * @Description: 底部备案信息
 */


.footer-common{
    padding: 0.49rem 0 0.59rem;
    font-size: 0.24rem;
    color: #fff;
    background-color: #071432;
    text-align: center;
    dt{
        font-size: 0.32rem;
    }
    .copyright{
        padding: 0 0 0.29rem;
    }
}
