/*
 * @Author: 梁杰
 * @Date: 2020-01-08 17:19:08
 * @LastEditors  : 梁杰
 * @LastEditTime : 2020-01-10 16:34:31
 * @Description: 活动结束弹框
 */
 .over{
    display: none;
    width: 5.2rem;
    height: 5rem;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -2.6rem;
    z-index: 99999;
    .over-red{
        width: 100%;
        height: 3.6rem;
        background: #e1342e;
        border-radius: 0.15rem;
        position: relative;
        .over-yellow{
            width: 4.99rem;
            height: 3.41rem;
            border: 0.04rem solid #13a479;
            background: #fff8cf;
            border-radius: 0.15rem;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            .over-err{
                width: 100%;
                height: auto;
                margin-top: 0.4rem;
                overflow: hidden;
                p{
                    text-align: center;
                    color: #740202;
                    font-size: 0.24rem;
                    letter-spacing: 0rem;
                    line-height: 0.36rem;
                }
            }
            .over-img{
                width: 100%;
                height: 1.84rem;
                margin: 0.2rem auto 0;
                .erweima{
                    width: 1.84rem;
                    height: 1.84rem;
                    margin-left: 0.4rem;
                    background: #fff;
                    float: left;
                    position: relative;
                    .house{
                        width: 0.58rem;
                        height: 0.52rem;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                    }
                    .wxShare{
                        width: 100%;
                    }
                }
                .erweima1{
                    width: 1.84rem;
                    height: 1.84rem;
                    margin-right: 0.4rem;
                    background: #fff;
                    float: right;
                    .wxShare{
                        width: 100%;
                    }
                }
            }
        }
    }
    .over-btn{
        width: 100%;
        height: 0.82rem;
        border-radius: 0.5rem;
        margin: 0.45rem auto;
        text-align: center;
        background: #e1342e;
        color: #fcf4c9;
        font-size: 0.32rem;
        line-height: 0.82rem;
        letter-spacing: 0.1rem;
    }
    .dengl{
        width: 0.9rem;
        height: 1.32rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}