<div class="ask">
	<div class="title">
		常见问题解答
	</div>
	<ul class="list">
		<li>
			<p>1.报考都需要什么流程呢？</p>
			<button class="wechat">查看详情</button>
		</li>
		<li>
			<p>2.报考院校和专业有地域限制吗？</p>
			<button class="wechat">查看详情</button>
		</li>
		<li>
			<p>3.学费大概是多少呢？</p>
			<button class="wechat">查看详情</button>
		</li>
		<li>
			<p>4.上课的时间，可以自己选择吗？</p>
			<button class="wechat">查看详情</button>
		</li>
		<li>
			<p>5.最快多久可以拿到毕业证呢？</p>
			<button class="wechat">查看详情</button>
		</li>
		<li>
			<p class="last">6.采用分期付款，需要什么条件呢？</p>
			<button class="wechat">查看详情</button>
		</li>
	</ul>
	<div class="opt">
		<button class="wechat">
			与学历顾问沟通其他问题
		</button>
	</div>
	@@include("./scroll.html",{"id":"scrAsk"})
</div>