<div class="banner">
	<dl>
		<dt>
			<img class="logo" src="./assets/img/logo.png" alt="奥鹏logo" />
		</dt>
		<dt class="title cor-wight">学历提升</dt>
		<dd class="sub-title cor-wight">奥鹏教育提升中心</dd>
		<dt>
			<p class="line"></p>
		</dt>
		<dd class="graduate cor-wight">
			<span>
				国家承认学历
			</span>
			<i></i>
			<span>
				学信网可查
			</span>
			<i></i>
			<span>含金量高</span>
		</dd>
		<dt class="year">
			专注学历教育18年，
			<br />
			300万学子的选择！
		</dt>
		<dd class="opt">
			<a class="wechat" href="javascript:;">
				专升本咨询
			</a>
			<!--<a  class="school wechat" href="javascript:;">
				高起专咨询
			</a>-->
			<a  class="wechat" href="javascript:;">
				高起本咨询
			</a>
		</dd>
	</dl>
</div>