<div class="yxCrmPanel" id="yxmg_5c8f7bf23947445a5dbfd8c8" basePath="http://crm.yunduoketang.com" cid="5c6282da394744514991d575" init-data='{"mgid":"5c8f7bf23947445a5dbfd8c8","channel":"百度推广（open）","equip":"移动设备","saleItem":{"text":"远程学历","value":"远程学历"}}'>
	<div class='yxItem' code='fc_1639' required='1'>
		<div class='yxItemLabel'>意向专业<span class="red">(*)</span></div>
		<div class='yxItemContent'></div>
	</div>
	<div class='yxItem' code='contactPhone' required='1'>
		<div class='yxItemLabel'>手机号码<span class="red">(*)</span></div>
		<div class='yxItemContent'></div>
	</div>
	<div class='yxItem' code='customerName' required='1'>
		<div class='yxItemLabel'>客户姓名<span class="red">(*)</span></div>
		<div class='yxItemContent'></div>
	</div>
	<p class="text-center m-b-0">
		<a href="javascript:;" class="btn btn-primary submit">留言</a>
	</p>
</div>