<dl class="form clearfix">
	<dt>
		1
		<i>*</i>
	</dt>
	<dd>
		<p class="head">
			您当前的学历层次是？
		</p>
		<p class="radio">
			<label for="graduate1-@@type">
				<input class="level-@@type" id="graduate1-@@type" type="radio" name="graduate-@@type" value="小学初中"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>小学初中</span>
			</label>
			<label for="graduate2-@@type">
				
				<input class="level-@@type" id="graduate2-@@type" type="radio" name="graduate-@@type" value="高中"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>&nbsp;&nbsp;&nbsp;高中</span>
			</label>
			<label for="graduate3-@@type">
				
				<input class="level-@@type" id="graduate3-@@type" type="radio" name="graduate-@@type" value="中专"/>
			<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>&nbsp;&nbsp;&nbsp;中专</span>
			</label>
		</p>
		<p class="radio sec">
			<label for="graduate4-@@type">
				
				<input class="level-@@type" id="graduate4-@@type" type="radio"  name="graduate-@@type" value="大专"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>&nbsp;&nbsp;&nbsp;大专</span>
			</label>
			<label for="graduate5-@@type">
				
				<input class="level-@@type" id="graduate5-@@type" type="radio" name="graduate-@@type" value="本科"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>&nbsp;&nbsp;&nbsp;本科</span>
			</label>
			<label class="border">
				<input value="本科"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>&nbsp;&nbsp;&nbsp;本科</span>
			</label>
		</p>
	</dd>
</dl>
<div class="lines"></div>
<dl class="form clearfix">
	<dt>
		2
		<i>*</i>
	</dt>
	<dd>
		<p class="head">
			您的年龄是？
		</p>
		<p class="radio">
			<label for="age1-@@type">
				<input class="age-@@type" id="age1-@@type" type="radio" name="age-@@type" value="<18"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span><18</span>
			</label>
			<label for="age2-@@type">
				
				<input class="age-@@type" id="age2-@@type" type="radio" name="age-@@type" value="18-30"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>18-30</span>
			</label>
			<label for="age3-@@type">
				
				<input class="age-@@type" id="age3-@@type" type="radio" name="age-@@type" value="30-45"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>30-45</span>
			</label>
		</p>
		<p class="radio sec">
			<label for="age4-@@type">
				<input class="age-@@type" id="age4-@@type" type="radio"  name="age-@@type" value=">45"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>>45</span>
			</label>
		</p>
	</dd>
</dl>
<div class="lines"></div>
<dl class="form clearfix">
	<dt>
		3
		<i>*</i>
	</dt>
	<dd>
		<p class="head">
			您期望的听课方式是？
		</p>
		<p class="radio">
			<label for="method1-@@type">
				<input class="meth-@@type" id="method1-@@type" type="radio" name="method-@@type" value="远程教育"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>远程教育</span>
			</label>
			<label for="method2-@@type">
				<input class="meth-@@type"  id="method2-@@type" type="radio" name="method-@@type" value="学校面授"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>学校面授</span>
			</label>
			<label for="method3-@@type">
				<input class="meth-@@type" id="method3-@@type" type="radio" name="method-@@type" value="其他方式"/>
				<strong></strong>
				<i class="icon iconfont lose">&#xe647;</i>
				<i class="icon iconfont active">&#xe6c1;</i>
				<span>其他方式</span>
			</label>
		</p>
	</dd>
</dl>
<ul class="opt">
	<li>
		<input class="name-@@type userName" type="text" placeholder="输入姓名"/>
	</li>
	<li>
		<input class="phone-@@type phoneNumber" type="text" placeholder="输入手机号，获取专属提升方案"/>
	</li>
	<li class="error">
		
	</li>
	<li>
		<button class="form-submit">@@txt</button>
	</li>
</ul>