<div class="schools">
	<div class="title">
		热门985/211院校任你选
	</div>
	<div class="box">
		<button class="wechat">
			东北师范大学
		</button>
		<button class="wechat">
			中国医科大学
		</button>
		<button class="wechat">
			福建师范大学
		</button>
		<button class="wechat">
			大连理工大学
		</button>
		<button class="wechat">
			南开大学
		</button>
		<button class="wechat">
			北京语言大学
		</button>
		<button class="wechat">
			东北大学
		</button>
		<button class="wechat">
			吉林大学
		</button>
		<button class="wechat">
			东北财经大学
		</button>
		<button class="wechat">
			东北农业大学
		</button>
		<button class="wechat">
			西北工业大学
		</button>
		<button class="wechat">
			四川农业大学
		</button>
		<button class="wechat">
			北京外国语大学
		</button>
		<button class="wechat">
			中国石油大学
		</button>
		<button class="wechat">
			西安交通大学
		</button>
		<button class="wechat">
			北京理工大学
		</button>
	</div>
	<div class="opt">
		<button class="wechat">
			查看更多院校 
			<i class="icon iconfont">&#xe626;</i>
		</button>
	</div>
</div>