<div class="subject">
	<div class="title">
		400多个热门专业随你挑
	</div>
	<div class="box">
		<button class="wechat">计算机类</button>
		<button class="wechat">通讯类</button>
		<button class="wechat">电气电力类</button>
	</div>
	<div class="box-ant">
		<button class="wechat">管理类</button>
		<button class="wechat">财经类</button>
		<button class="wechat">法律类</button>
		<button class="wechat">医学类</button>
	</div>
	<div class="box">
		<button class="wechat">机械制造类</button>
		<button class="wechat">交通运输类</button>
		<button class="wechat">石化地矿类</button>
	</div>
	<div class="box">
		<button class="wechat">师范语言类</button>
		<button class="wechat">艺术传媒类</button>
		<button class="wechat">心理学类</button>
	</div>
	<div class="box">
		<button class="wechat">土建类</button>
		<button class="wechat">农业类</button>
		<button class="wechat">其他类</button>
	</div>
	<div class="chat">
		<button class="wechat">免考专业咨询<i class="cir-1"></i></button>
		<button class="wechat">不考高数专业咨询<i class="cir-2"></i></button>
		<button class="wechat">专业详情咨询<i class="cir-3"></i></button>
	</div>
</div>