<div class="abnormal bounceIn close5">
	<div class="abnormal_inner">
		<div class="wenxin ab1">
			<div class="ab_img">
				<img src="./assets191111/img/wenXin.png" alt="">
			</div>
			<div class="ab_intr">
				温馨提示：本活动仅限未报读的<span>新用户</span>以及奥鹏教育OCES平台显示<span>已毕业</span>的学生参与哦！更多活动敬请期待！
			</div>
		</div>
		<div class="buhao ab2">
			<div class="ab_img">
				<img src="./assets191111/img/buHao.png" alt="">
			</div>
			<div class="ab_intr">
				不好意思，服务器开小差了， 请检查网络后再试哦~
			</div>
		</div>
		<div class="taiyi ab3">
			<div class="ab_img">
				<img src="./assets191111/img/taiYi.png" alt="">
			</div>
			<div class="ab_intr">
				太遗憾了，助学金库存不足了哟~试试别的吧
			</div>
		</div>
		<div class="ninde ab4">
			<div class="ab_img">
				<img src="./assets191111/img/ninDe.png" alt="">
			</div>
			<div class="ab_intr">
				您的参与次数已用完~下次活动期待您的参与
			</div>
		</div>
		<div class="ab_btn mask_btn">
			<div class="ab_btn_inn">
				确定
			</div>
		</div>
		<i class="iconfont abpx">&#xe650;</i>
		<!-- <i class="iconfont iconbaseline-close-px abpx"></i> -->
	</div>
</div>
