<div class="activeTwo actiTwo">
    <div class="activeTwo_tit">
        <!-- <p>活动二：助学金整点抢</p> -->
    </div>
    <div class="activeTwo_inn">
        <!--导航栏部分HTML代码-->
        <nav class="nav" id="nav">
            <ul class="nav_ul">
                <li class="act nav_li">
                    <b>9:00</b>
					<span class="nav_li_sp">未开始</span>
                    <div class="ac ac_wei">
                        <span class="ac_time">9:00</span>
						<span class="ac_state">未开始</span>
                    </div>
                </li>
                <li class="nav_li">
                    <b>13:00</b>
					<span class="nav_li_sp">未开始</span>
                    <div class="ac ac_wei">
                        <span class="ac_time">13:00</span>
                        <span class="ac_state">未开始</span>
                    </div>
                </li>
                <li class="nav_li">
                    <b>19:00</b>
					<span class="nav_li_sp">未开始</span>
                    <div class="ac ac_wei">
                        <span class="ac_time">19:00</span>
                        <span class="ac_state">未开始</span>
                    </div>
                </li>
                <li class="nav_li">
                    <b>21:00</b>
					<span class="nav_li_sp">未开始</span>
                    <div class="ac ac_wei">
                        <span class="ac_time">21:00</span>
                        <span class="ac_state">未开始</span>
                    </div>
                </li>
            </ul>
            <!--内容部分HTML代码-->
            <div class="container" id="container">
                <section class="tab">
                    <ul class="tab_ul active09">
                        <!-- <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>500</b>
                                <div class="con_btn">
                                    <p class="ac9">立即领取</p>
                                </div>
								<img class="jiang2" src="./assets191111/img/500w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/500y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/500s.png" alt="">
                            </div>
                            <p class="con_p">500元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>300</b>
                                <div class="con_btn">
                                    <p class="ac9">立即领取</p>
                                </div>
								<img class="jiang2" src="./assets191111/img/300w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/300y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/300s.png" alt="">
                            </div>
                            <p class="con_p">300元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>200</b>
                                <div class="con_btn">
                                    <p class="ac9">立即领取</p>
                                </div>
								<img class="jiang2" src="./assets191111/img/200w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/200y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/200s.png" alt="">
                            </div>
                            <p class="con_p">200元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>100</b>
                                <div class="con_btn">
                                    <p class="ac9">立即领取</p>
                                </div>
								<img class="jiang2" src="./assets191111/img/100w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/100y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/100s.png" alt="">
                            </div>
                            <p class="con_p">100元助学金</p>
                        </li> -->
                    </ul>
                </section>
                <section class="tab di">
                    <ul class="tab_ul active13">
                        <!-- <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>500</b>
                                <div class="con_btn">
                                    <p class="ac8">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/500w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/500y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/500s.png" alt="">
                            </div>
                            <p class="con_p">500元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>300</b>
                                <div class="con_btn">
                                    <p  class="ac8">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/300w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/300y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/300s.png" alt="">
                            </div>
                            <p class="con_p">300元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>200</b>
                                <div class="con_btn">
                                    <p class="ac8">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/200w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/200y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/200s.png" alt="">
                            </div>
                            <p class="con_p">200元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>100</b>
                                <div class="con_btn">
                                    <p class="ac8">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/100w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/100y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/100s.png" alt="">
                            </div>
                            <p class="con_p">100元助学金</p>
                        </li> -->
                    </ul>
                </section>
                <section class="tab di">
                    <ul class="tab_ul active19">
                        <!-- <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>500</b>
                                <div class="con_btn">
                                    <p class="ac7">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/500w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/500y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/500s.png" alt="">
                            </div>
                            <p class="con_p">500元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>300</b>
                                <div class="con_btn">
                                    <p class="ac7">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/300w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/300y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/300s.png" alt="">
                            </div>
                            <p class="con_p">300元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>200</b>
                                <div class="con_btn">
                                    <p class="ac7">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/200w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/200y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/200s.png" alt="">
                            </div>
                            <p class="con_p">200元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>100</b>
                                <div class="con_btn">
                                    <p class="ac7">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/100w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/100y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/100s.png" alt="">
                            </div>
                            <p class="con_p">100元助学金</p>
                        </li> -->
                    </ul>
                </section>
                <section class="tab di">
                    <ul class="tab_ul active21">
                        <!-- <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>500</b>
                                <div class="con_btn">
                                    <p class="ac6">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/500w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/500y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/500s.png" alt="">
                            </div>
                            <p class="con_p">500元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>300</b>
                                <div class="con_btn">
                                    <p class="ac6">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/300w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/300y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/300s.png" alt="">
                            </div>
                            <p class="con_p">300元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>200</b>
                                <div class="con_btn">
                                    <p class="ac6">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/200w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/200y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/200s.png" alt="">
                            </div>
                            <p class="con_p">200元助学金</p>
                        </li>
                        <li>
                            <div class="con_Li">
                                <b><span>&yen;</span>100</b>
                                <div class="con_btn">
                                    <p class="ac6">立即领取</p>
                                </div>
                        		<img class="jiang2" src="./assets191111/img/100w.png" alt="">
								<img class="over_yi2" src="./assets191111/img/100y.png" alt="">
								<img class="yiJieShu2" src="./assets191111/img/100s.png" alt="">
								
                            </div>
                            <p class="con_p">100元助学金</p>
                        </li> -->
                    </ul>
                </section>
            </div>
        </nav>
    </div>
</div>