<div class="activeOne actiOne" id="activeOne">
    <div class="activeOne_tit">
        <!-- <p>活动一：疯狂抢免单</p> -->
    </div>
    <div class="activeOne_inn">
        <div class="activeOne_inn_tit">
            <div class="ling">
                <span class="One_time">0:00</span>
                <span class="state">未开始</span>
            </div>
            <div class="shiYi">
                <span class="One_time">11:11</span>
                <span class="state">未开始</span>
            </div>
        </div>
        <div class="activeOne_inn_con">
            <ul class="activeOne1_ul">
                <!-- <li>
                    <div class="con_Li">
                        <b class="l0">免单</b>
                        <div class="con_btn">
                            <p class="acOne">立即领取</p>
                        </div>
						<img class="jiang" src="./assets191111/img/miandan_w.png" alt="">
						<img class="over_yi" src="./assets191111/img/miandan_g.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/miandan_s.png" alt="">
                    </div>
                    <p class="con_p">免单神券</p>
                </li>
                <li>
                    <div class="con_Li ">
                        <b class="l0"><span>&yen;</span>500</b>
                        <div class="con_btn">
                            <p class="acOne">立即领取</p>
                        </div>
						<img class="jiang" src="./assets191111/img/500w.png" alt="">
						<img class="over_yi" src="./assets191111/img/500y.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/500s.png" alt="">
                    </div>
                    <p class="con_p">500元助学金</p>
                </li>
                <li>
                    <div class="con_Li">
                        <b class="l0"><span>&yen;</span>300</b>
                        <div class="con_btn">
                            <p class="acOne">立即领取</p>
                        </div>
						<img class="jiang" src="./assets191111/img/300w.png" alt="">
						<img class="over_yi" src="./assets191111/img/300y.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/300s.png" alt="">
                    </div>
                    <p class="con_p">300元助学金</p>
                </li>
                <li>
                    <div class="con_Li">
                        <b class="l0"><span>&yen;</span>200</b>
                        <div class="con_btn">
                            <p class="acOne">立即领取</p>
                        </div>
						<img class="jiang" src="./assets191111/img/200w.png" alt="">
						<img class="over_yi" src="./assets191111/img/200y.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/200s.png" alt="">
                    </div>
                    <p class="con_p">200元助学金</p>
                </li> -->
            </ul>
        </div>
		<div class="activeOne_inn_con acOneInn">
		    <ul class="activeOne2_ul">
		        <!-- <li>
		            <div class="con_Li">
		                <b>免单</b>
		                <div class="con_btn">
		                    <p class="acOne">立即领取</p>
		                </div>
						<img class="jiang" src="./assets191111/img/miandan_w.png" alt="">
						<img class="over_yi" src="./assets191111/img/miandan_g.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/miandan_s.png" alt="">
		            </div>
		            <p class="con_p">免单神券</p>
		        </li>
		        <li>
		            <div class="con_Li">
		                <b><span>&yen;</span>500</b>
		                <div class="con_btn">
		                    <p class="acOne">立即领取</p>
		                </div>
						<img class="jiang" src="./assets191111/img/500w.png" alt="">
						<img class="over_yi" src="./assets191111/img/500y.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/500s.png" alt="">
		            </div>
		            <p class="con_p">500元助学金</p>
		        </li>
		        <li>
		            <div class="con_Li">
		                <b><span>&yen;</span>300</b>
		                <div class="con_btn">
		                    <p class="acOne">立即领取</p>
		                </div>
						<img class="jiang" src="./assets191111/img/300w.png" alt="">
						<img class="over_yi" src="./assets191111/img/300y.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/300s.png" alt="">
		            </div>
		            <p class="con_p">300元助学金</p>
		        </li>
		        <li>
		            <div class="con_Li">
		                <b><span>&yen;</span>200</b>
		                <div class="con_btn">
		                    <p class="acOne">立即领取</p>
		                </div>
						<img class="jiang" src="./assets191111/img/200w.png" alt="">
						<img class="over_yi" src="./assets191111/img/200y.png" alt="">
						<img class="yiJieShu" src="./assets191111/img/200s.png" alt="">
		            </div>
		            <p class="con_p">200元助学金</p>
		        </li> -->
		    </ul>
		</div>
    </div>
	
</div>