<div class="for bounceIn close2">
	<div class="for_inner">
		<div class="hude">
			<div class="for_img">
				<b class="for_b">
					<!-- <span>&yen;</span>500 -->
				</b>
				<div class="con_btn zxj">
				    <p>助学金</p>
				</div>
			</div>
			<div class="for_intr">
				您已经获得过此助学金了哦 再试试领取别的助学金吧～
			</div>
		</div>
		<div class="for_btn mask_btn">
			<div class="for_btn_inn">
				确定
			</div>
		</div>
		<i class="iconfont forpx">&#xe650;</i>
		<!-- <i class="iconfont iconbaseline-close-px forpx"></i> -->
	</div>
</div>
