<div id="header" class="header clearfix">
	<dl class="enter">
		<dt class="mrt logo">
			<a href="/" target="_blank"><img src="./assets191111/img/logo.png" alt=""></a>
		</dt>
		<dd class="mrt">
			<a class="hover" href="/" target="_blank">首页</a>
		</dd>
		<dd class="mrt">
			<a class="hover" href="/major/index.html" target="_blank">选专业</a>
		</dd>
		<dd class="mrt">
			<a class="hover" href="/school/index.html" target="_blank">选院校</a>
		</dd>
		<dd>
			<a class="hover" href="/service/index.html" target="_blank">服务大厅</a>
		</dd>
		<dd>
			<div class="status-login">
                <div class="login-status">
                    <i></i><em>，你好!</em>
                    <p>
                        <span class="tra-out"></span>
                        <span class="tra-inner"></span>
                        <span class="fill-cir"></span>
						<a href="../users/studentSubsidies.html">我的助学金</a>
                        <span class="quit-login">退出登录</span>
                    </p>
                </div>
                
                <div id="loginOpt" class="login-opt"> 
                	<button id="loginBtn" class="reg">注册/登录</button>
                </div>
            </div>
			<!--<span class="phone-num" style="display: none;"><i></i><em>，您好！</em></span>
			<button id="loginBtn" class="reg" style="display: none;">注册/登录</button>-->
		</dd>
	</dl>
	<dl class="share">
		<dt class="share-name">
			 <span>分享到：</span>
		</dt>
		<dd class="share-item">
			<span id="weibo" class="iconfont weibo">&#xe600;</span>
		</dd>
		<dd class="share-item weixin-item">
			<div id="weixin" class="weixin-box">
				<span class="iconfont weixin">&#xe6c8;</span>
				<div id="wxMasker" class="weixin-masker">
					<i class="tranparent"></i>
					<span class="arrow-out"></span>
					<span class="arrow-inner"></span>
					
					<p class="title">
						分享到微信朋友圈	
					</p>
					<p>
						<img class="share-code" src="./assets191111/img/shareWx.png" alt="share" />
					</p>
					<p class="prompt">
						微信扫一扫，立即分享
					</p>
				</div>
			</div>
		</dd>
		<dd class="share-item">
			<span id="Qq" class="iconfont qq">&#xe6d9;</span>
		</dd>
		<dd class="share-phone">
			<span class="iconfont number">&#xe6ea;</span>
			<strong>400-813-1121</strong>
		</dd>
	</dl>
</div>