<div class="kong" id="kong"></div>
<div class="help" id="help">
    <div class="help_tit">
        <!-- <p>邀好友<i></i>来助力</p> -->
    </div>
    <ul class="help_ul">
        <li>
            <p class="help_zhu">1、登录获取海报</p>
            <div class="help_img">
                <img src="./assets191111/img/dengLu.png" alt="">
            </div>
            <p>登录奥鹏教育官网</p>
            <p>获取助力海报</p>
        </li>
        <li></li>
        <li>
            <p class="help_zhu">2、邀请好友助力</p>
            <div class="help_img">
                <img src="./assets191111/img/yaoQing.png" alt="">
            </div>
            <p>将助力海报分享给好友</p>
            <p>好友扫码助力</p>
        </li>
        <li></li>
        <li>
            <p class="help_zhu">3、获得助学金</p>
            <div class="help_img">
                <img src="./assets191111/img/huoDe.png" alt="">
            </div>
            <p>助力值达到30</p>
            <p>即可获得200元助学金</p>
        </li>
    </ul>
    <div class="help_btn">
        邀请<span>好友助力</span><img class="help_btn_img" src="./assets191111/img/right.png" alt="">
    </div>
	<p class="help_chaKan"><a href="/users/myPlayBill.html" target="_blank">查看我的助力详情 ></a></p>
    <div class="help_instr">
        <dl class="help_dl">
            <dt class="dl_gz">
                <p>活动<br/>规则</p>
            </dt>
            <dd>
                <p>1、“邀好友 来助力”活动仅限未报名的用户参与（奥鹏教育OCES平台显示已毕业的学生也可参与）;</p>
                <p>2、助学金仅限奥鹏教育学员报名缴费使用，不可转让，不可兑现；</p>
                <p>3、“邀好友 来助力”活动时间为2019年11月8日-2019年11月10日；</p>
                <p>4、助力获得的助学金的使用时间为2019年11月8日-2019年11月11日；</p>
                <p>5、助学金不与其他活动助学金叠加使用；</p>
				<p>6、助学金数量有限，派完即止；</p>
                <p>7、本活动最终解释权有奥鹏教育所有；</p>
            </dd>
        </dl>
    </div>
	<div class="help_over">已结束</div>
</div>