<div class="invite bounceIn close4">
	<div class="invite_inner">
		<div class="invite_tit">
			邀请好友助力
		</div>
		<div class="invite_con">
			<div class="invite_l">
				<p>微信邀请</p>
				<div class="erWeiMa">
					<!-- <img src="./assets191111/img/erWeiMa.png" alt=""> -->
					<img class="inimg" src="" alt="">
				</div>
			</div>
			<div class="invite_z"></div>
			<div class="invite_r">
				<p>链接邀请</p>
				<div class="in_text">
					<input type="text" id="lianJie" value="" readonly="readonly">
					<span class="in_btn" data-clipboard-target="#lianJie">复制链接</span>
				</div>
				<p>海报邀请</p>
				<span class="invite_btn">点击生成海报</span>
				<i class="iconfont invi">&#xe650;</i>
				<!-- <i class="iconfont iconbaseline-close-px "></i> -->
			</div>
		</div>
	</div>
</div>
