<div class="lucky bounceIn close4">
	<div class="lucky_inner">
		<div class="huode" id="huode">
			<h1>幸运降临</h1>
			<p class="gongXi">恭喜您！成功获得奥鹏教育免单神券一张！</p>
			<p class="chaSHou">助学金已存入您的账户，请在“我的助学金”中查看！</p>
			<div class="lucky_img">
			    <b>免单</b>
			    <div class="con_btn zxj">
			        <p>助学金</p>
			    </div>
			</div>
			<div class="lucky_intr">
			    还有<span class="ciShu">2</span>次秒抢助学金的机会
			</div>
			<img class="start" src="./assets191111/img/start.png" alt="">
			<p class="start_in">注：仅限支付首期学费（不包括已缴纳的订金）</p>
		</div>
		<div class="lucky_btn mask_btn">
			<div class="lucky_btn_inn">
				确定
			</div>
		</div>
		<i class="iconfont lupx">&#xe650;</i>
		<!-- <i class="iconfont iconbaseline-close-px lupx"></i> -->
	</div>
</div>
