<div class="rules">
    <dl class="rules_dl">
        <dt>
            <div>
                <p>活动<br/>规则</p>
            </div>
        </dt>
        <dd>
            <p>1、本活动仅限未报名的用户参与（奥鹏教育OCES平台显示已毕业的学生也可参与）；</p>
            <p>2、在活动期间每个新用户有3次秒抢助学金机会；</p>
            <p>3、免单神券仅限奥鹏学员支付首期费用（首期学费、入学测试费、照片采集费、报名费），不包括教材费和已缴纳的订金等费用；</p>
            <p>4、本活动“助学金”使用期限为2019年11月11日00:00-2019年11月11日23:59，过期失效；</p>
            <p>5、用户在同一场次中不可重复领取相同金额助学金；</p>
            <p>6、“助学金”仅限奥鹏教育报名缴费支付使用，不可转让，不可兑现；</p>
            <p>7、助学金不可叠加使用；</p>
            <p>8、如有恶意操作，一经发现取消参与资格，并收回奖品所得；</p>
            <p>9、本场活动持续时间为2019年11月11日00:00-2019年11月11日23:59；</p>
            <p>10、本活动最终解释权由奥鹏教育所有。</p>
        </dd>
    </dl>
</div>