<div class="school">
    <div class="school_inner">
        <p class="school_tit">
            推荐院校
        </p>
        <ul class="school_sch">
            <li class="school_li">
               <a href="/school/10013.html" target="_blank">
				   <div class="school_img">
				       <img src="./assets191111/img/bjyddx.png" alt="北京邮电大学">
				   </div>
				   <p class="school_con">北京邮电大学</p>
			   </a>
            </li>
            <li class="school_li">
               <a href="/school/10002.html" target="_blank">
				   <div class="school_img">
				       <img src="./assets191111/img/zgrmdx.png" alt="中国人民大学">
				   </div>
				   <p class="school_con">中国人民大学</p>
			   </a>
            </li>
            <li class="school_li">
                <a href="/school/10511.html" target="_blank">
					<div class="school_img">
					    <img src="./assets191111/img/hzsfdx.png" alt="华中师范大学">
					</div>
					<p class="school_con">华中师范大学</p>
				</a>
            </li>
            <li class="school_li">
                <a href="/school/10183.html" target="_blank">
					<div class="school_img">
					    <img src="./assets191111/img/jldx.png" alt="吉林大学">
					</div>
					<p class="school_con">吉林大学</p>
				</a>
            </li>
            <li class="school_li">
               <a href="/school/10055.html" target="_blank">
				   <div class="school_img">
				       <img src="./assets191111/img/nkdx.png" alt="南开大学">
				   </div>
				   <p class="school_con">南开大学</p>
			   </a>
            </li>
            <li class="school_li">
               <a href="/school/10159.html" target="_blank">
				   <div class="school_img">
				       <img src="./assets191111/img/zgykdx.png" alt="中国医科大学">
				   </div>
				   <p class="school_con">中国医科大学</p>
			   </a>
            </li>
            <li class="school_li">
               <a href="/school/10032.html" target="_blank">
				   <div class="school_img">
				       <img src="./assets191111/img/bjyydx.png" alt="北京语言大学">
				   </div>
				   <p class="school_con">北京语言大学</p>
			   </a>
            </li>
            <li class="school_li">
                <a href="/school/10614.html" target="_blank">
					<div class="school_img">
					    <img src="./assets191111/img/dzkjdx.png" alt="电子科技大学">
					</div>
					<p class="school_con">电子科技大学</p>
				</a>
            </li>
        </ul>
    </div>
</div>