.slider-box{
//  display: none;
    position:fixed;
    z-index: 997;
    top:50%;
    margin-top: -106px;
    right: 57px;
    width: 78px;
    border: solid 2px #000000;
    border-radius: 10px;
//  .slider-outer{
//       background: url("../assets11/img/rotate.png") no-repeat top center;
//        background-size: 100% 316px;
//      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../assets11/img/rotate.png",sizingMethod='scale');
//  }
    .slider-img {
        position: absolute;
        left: 21px;
        top: -81px;
        width: 75px;
        height: 91px;
    }
    dl.opt{
        padding-top: 6px;
        padding-bottom: 16px;
        background-color: #f5c544;
        border-radius: 6px;
        color: #0c0c0c;
        dd, .signWechatBtn {
            cursor: pointer;
            height: 25px;
            width: 82px;
            line-height: 25px;
            text-align: center;
            margin: auto;
            font-size: 13px;
            border: solid 2px #000000;
            border-radius: 12px;
            background-color: #fff;
            position: relative;
            left: -14px;
            margin-bottom: 6px;
        }
        dd {
            a {
                color: #0c0c0c;
            }
        }
        .signWechatBtn {
            height: 26px;
            line-height: 26px;
            color: #fff;
            border-radius: 13px;
            a {
                color: #0c0c0c;
            }
        }
        .my-gift {
//          display: none;
        }
        .signWechatBtn {
            cursor: pointer;
            color: #0c0c0c;
        }
        .go-top {
            text-align: center;
            a {
                color: #0c0c0c;
                font-size: 14px;
                span {
                    display: inline-block;
                    width:0;
                    height:0;
                    border-width:0 4px 8px;
                    border-style:solid;
                    border-color:transparent transparent #333;/*透明 透明  灰*/
                    position:relative;
                }
            }
        }
       dd.wxin:hover .wx-code{
           display: block;
       }
       .mask-tip{
           position: absolute;
           top: 0px;
           right: -21px;
           height: 100%;
           width: 20px;
           background-color: transparent;
       }
       .wxin {
           position: relative;
           cursor: pointer;
       }
       .wx-code{
            display: none;
            position: absolute;
            right: 101px;
            top: -37px;
            height: 102px;
            width: 102px;
            line-height: 102px;
            text-align: center;
            background-color: #f0f0f0;
            border-radius: 5px;
            .arrow{
               position: absolute;
               right: -24px;
               top:50%;
               margin-top: -12px;
               width: 0px;
               height: 0px;
               border-width:12px;
               border-style:solid;
               border-color:transparent transparent transparent #f0f0f0;
            }
            img{
               height: 84px;
               width: 84px;
               vertical-align: middle;
            }
       }
    }
}
