.kong{
	width: 1050px;
	height: 30px;
	margin: 0 auto;
}
.help{
  width: 1050px;
  border: 1px dashed #009de2;
  height: auto;
  border-radius: 30px;
  margin: 50px auto 80px;
  // background-image: url("../assets191111/img/zhuLi_bg.png");
  background-repeat: no-repeat;
  position: relative;
  bottom: 0px;
  .help_over{
	  display: none;
	  width: 101%;
	  height: 110%;
	  line-height: 600px;
	  text-align: center;
	  background: rgba(0,0,0,.4);
	  border-radius: 30px;
	  position: absolute;
	  top: -50px;
	  left: -5px;
	  color: #fff;
	  font-size: 86px;
  }
  .help_tit{
    width: 548px;
    height: 115px;
    background: #020686 url("../assets191111/img/zhuLi_tit.png");
    background-repeat: no-repeat;
    text-align: center;
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: -60px;
    left: 242px;
    p{
      font-weight: bold;
      -webkit-text-stroke: 2.0px #2F5FC6;
      text-shadow:0px 3px 5px #04156e;
      position: relative;
      left: 25px;
      top: 28px;
      i{
        display: inline-block;
        width: 12px;
      }
    }
  }
  .help_ul{
    width: 962px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 76px;
    li{
      float: left;
      width: 172px;
      height: 220px;
      margin-right: 25px;
      p{
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #f1f1f1;
        letter-spacing: 1px;
      }
      .help_zhu{
        font-size: 20px;
        color: #2deeff;
      }
      .help_img{
        width: 136px;
        height: 139px;
        margin: 15px auto 8px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    li:nth-child(2),li:nth-child(4){
      background-image: url("../assets191111/img/zhuLi.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
    li:last-child{
      margin-right: 0px;
    }
  }
  .help_btn{
    text-align: center;
    cursor: pointer;
    width: 390px;
    height: 76px;
    line-height: 62px;
    margin: 30px auto 5px;
    background-image: url("../assets191111/img/zhuLi_btn.png");
    background-repeat: no-repeat;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    span{
      color: #fff5a1;
      padding-right: 8px;
    }
	.help_btn_img{
		position: relative;
		top: 4px;
		left: 0px;
	}
  }
  .help_chaKan{
	  display: none;
	  text-align: center;
	  line-height: 20px;
	  a{
		  font-size: 16px;
		  letter-spacing: 1px;
		  color: #f1f1f1;
	  }
  }
  .help_btn:hover{
	  line-height: 64px;
  }
  .help_instr{
    // position: absolute;
    // bottom: 8px;
    // left: 0px;
    width: 1048px;
    height: 158px;
    margin: 17px auto 0;
    background: #0a0355;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    .help_dl{
      padding-top: 26px;
      dt{
        float: left;
        text-align: center;
        font-weight: bold;
        width: 83px;
        height: 85px;
        font-size: 22px;
        color: #fff;
        background: #ee8844;
        border-radius: 50%;
        margin: 0 41px 0 52px;
        p{
          padding-top: 13px;
          line-height: 28px;
          letter-spacing: 1px;
          text-align: center;
        }
      }
	  .dl_gz{
		  margin-top: 12px;
	  }
      dd{
		width: 862px;
        font-size: 13px;
        color: #e3e4ea;
        float: left;
        p{
          line-height: 16px;
          letter-spacing: 1px;
        }
      }
    }
  }
}