<div class="slider-box">
	<img src="./assets190828/img/coupon.png" alt="" class="slider-img" />
	<dl class="opt">
		<dd class="my-coupon">
				我的助学金
			</dd>
			<dd>
				<a class="fir" href="#rule">
					集赞助学金
				</a>
			</dd>
			<dd class="my-rain">
				<a href="#rain">
					红包雨
				</a>
			</dd>
		<dd class="wxin">
			官方微信
			<p class="wx-code">
				<em class="mask-tip"></em>
				<span class="arrow"></span>
				<img src="./assets190828/img/wxShare.png" alt="奥鹏微信公众号" />
			</p>
		</dd>
		<dt class="signWechatBtn">
			在线咨询
		</dt>
		<dt class="go-top">
			<a  href="#header">
				返回顶部
				<span></span>
			</a>
		</dt>
	</dl>
</div>