<div id="addressBox" class="address-box">
	<div class="com-masker"></div>
	<div class="outer">
		<dl class="bounceIn">
			<dt>
				<span class="iconfont close">&#xe650;</span>
			</dt>
			<dd>
				<label for="addrName">
					姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
				</label>
				<input id="addrName" type="text" placeholder="请输入姓名"/>
			</dd>
			<dd class="phone">
				<label for="addrPhone">
					手机号码：
				</label>
				<input id="addrPhone" maxlength="11" type="text" placeholder="请输入电话"/>
			</dd>
			<dd class="addr">
				<label for="addrPost">
					收货地址：
				</label>
				<textarea id="addrPost" placeholder="请输入收货地址" style="resize:none;width:244px;height:65px;"></textarea>
			</dd>
			<dd class="msg">
			</dd>
			<dd class="option">
				<button>
					确定
				</button>
			</dd>
		</dl>
	</div>
</div>