<div id="bannerBox" class="banner-box">
	<img class="title" src="../assets191212/img/banerTitle.png" alt="" />
	<dl class="time">
		<dt>
			<i></i>
			<span>活动时间：<em id="activeTime">2019.12.11-2019.12.13</em></span>
			<i></i>
		</dt>
		<dd class="explain">
			※本活动仅限活动期间报名并缴纳首期学费的学员参与
		</dd>
		<dd id="timeStep" class="start">
			距活动结束还剩:
		</dd>
		<dd id="cutDown" style="display: none;">
			<i id="timeDay">00</i>
			<em>天</em>
			<i id="timeHour">00</i>
			<em>时</em>
			<i id="timeMin">00</i>
			<em>分</em>
			<i id="timeSec">00</i>
			<em>秒</em>
		</dd>
	</dl>
</div>