<div class="cooperate-box">
	<dl class="title">
		<dt>
			<i></i>
			<span>
				【奥鹏教育合作高校】
			</span>
			<i></i>
		</dt>
		<dd>
			（排名不分先后，其中未开启招生的高校不支持参与本次活动）
		</dd>
	</dl>
	<div class="school-list">
		<dl>
			<dt>
				<a href="/school/10032.html" target="_blank" title="北京语言大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10032.png" src="../assets191212/img/logoBd.svg" alt="北京语言大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10032.html" target="_blank" title="北京语言大学">
					北京语言大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10055.html" target="_blank" title="南开大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10055.png" src="../assets191212/img/logoBd.svg" alt="南开大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10055.html" target="_blank" title="南开大学">
					南开大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10141.html" target="_blank"  title="大连理工大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10141.png" src="../assets191212/img/logoBd.svg" alt="大连理工大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10141.html" target="_blank" title="大连理工大学">
					大连理工大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10200.html" target="_blank" title="东北师范大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10200.png" src="../assets191212/img/logoBd.svg" alt="东北师范大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10200.html" target="_blank" title="东北师范大学">
					东北师范大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10159.html" target="_blank" title="中国医科大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10159.png" src="../assets191212/img/logoBd.svg" alt="中国医科大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10159.html" target="_blank" title="中国医科大学">
					中国医科大学
				</a>
			</dd>
		</dl>
	</div>
	<div class="school-list">
		<dl>
			<dt>
				<a href="/school/10145.html" target="_blank" title="东北大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10145.png" src="../assets191212/img/logoBd.svg" alt="东北大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10145.html" target="_blank" title="东北大学">
					东北大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10394.html" target="_blank" title="福建师范大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10394.png" src="../assets191212/img/logoBd.svg" alt="福建师范大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10394.html" target="_blank" title="福建师范大学">
					福建师范大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10183.html" target="_blank" title="吉林大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10183.png" src="../assets191212/img/logoBd.svg" alt="吉林大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10183.html" target="_blank" title="吉林大学">
					吉林大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10635.html" target="_blank" title="西南大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10635.png" src="../assets191212/img/logoBd.svg" alt="西南大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10635.html" target="_blank" title="西南大学">
					西南大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10698.html" target="_blank" title="西安交通大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10698.png" src="../assets191212/img/logoBd.svg" alt="西安交通大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10698.html" target="_blank" title="西安交通大学">
					西安交通大学
				</a>
			</dd>
		</dl>
	</div>
	<div class="school-list">
		<dl>
			<dt>
				<a href="/school/10030.html" target="_blank" title="北京外国语大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10030.png" src="../assets191212/img/logoBd.svg" alt="北京外国语大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10030.html" target="_blank" title="北京外国语大学">
					北京外国语大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10511.html" target="_blank" title="华中师范大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10511.png" src="../assets191212/img/logoBd.svg" alt="华中师范大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10511.html" target="_blank" title="华中师范大学">
					华中师范大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10224.html" target="_blank" title="东北农业大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10224.png" src="../assets191212/img/logoBd.svg" alt="东北农业大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10224.html" target="_blank" title="东北农业大学">
					东北农业大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10730.html" target="_blank" title="兰州大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10730.png" src="../assets191212/img/logoBd.svg" alt="兰州大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10730.html" target="_blank" title="兰州大学">
					兰州大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10027.html" target="_blank" title="北京师范大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10027.png" src="../assets191212/img/logoBd.svg" alt="北京师范大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10027.html" target="_blank" title="北京师范大学">
					北京师范大学
				</a>
			</dd>
		</dl>
	</div>
	<div class="school-list">
		<dl>
			<dt>
				<a href="/school/10036.html" target="_blank" title="对外经济贸易大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10036.png" src="../assets191212/img/logoBd.svg" alt="对外经济贸易大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10036.html" target="_blank" title="对外经济贸易大学">
					对外经济贸易大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10004.html" target="_blank" title="北京交通大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10004.png" src="../assets191212/img/logoBd.svg" alt="北京交通大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10004.html" target="_blank" title="北京交通大学">
					北京交通大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10614.html" target="_blank" title="电子科技大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10614.png" src="../assets191212/img/logoBd.svg" alt="电子科技大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10614.html" target="_blank" title="电子科技大学">
					电子科技大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10295.html" target="_blank" title="江南大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10295.png" src="../assets191212/img/logoBd.svg" alt="江南大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10295.html" target="_blank" title="江南大学">
					江南大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10013.html" target="_blank" title="北京邮电大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10013.png" src="../assets191212/img/logoBd.svg" alt="北京邮电大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10013.html" target="_blank" title="北京邮电大学">
					北京邮电大学
				</a>
			</dd>
		</dl>
	</div>
	<div class="school-list">
		<dl>
			<dt>
				<a href="/school/10033.html" target="_blank" title="中国传媒大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10033.png" src="../assets191212/img/logoBd.svg" alt="中国传媒大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10033.html" target="_blank" title="中国传媒大学">
					中国传媒大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10046.html" target="_blank" title="中央音乐学院">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10046.png" src="../assets191212/img/logoBd.svg" alt="中央音乐学院">
				</a>
			</dt>
			<dd>
				<a href="/school/10046.html" target="_blank" title="中央音乐学院">
					中央音乐学院
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/b0001.html" target="_blank" title="北京大学（医学）">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/b0001.png" src="../assets191212/img/logoBd.svg" alt="北京大学（医学）">
				</a>
			</dt>
			<dd>
				<a href="/school/b0001.html" target="_blank" title="北京大学（医学）">
					北京大学（医学）
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10002.html" target="_blank" title="中国人民大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10002.png" src="../assets191212/img/logoBd.svg" alt="中国人民大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10002.html" target="_blank" title="中国人民大学">
					中国人民大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10026.html" target="_blank" title="北京中医药大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/20190710/15627465215d259e99b6498.png" src="../assets191212/img/logoBd.svg" alt="北京中医药大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10026.html" target="_blank" title="北京中医药大学">
					北京中医药大学
				</a>
			</dd>
		</dl>
	</div>
	<div class="school-list">
		<dl>
			<dt>
				<a href="/school/10056.html" target="_blank" title="天津大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10056.png" src="../assets191212/img/logoBd.svg" alt="天津大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10056.html" target="_blank" title="天津大学">
					天津大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/10699.html" target="_blank" title="西北工业大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/10699.png" src="../assets191212/img/logoBd.svg" alt="西北工业大学">
				</a>
			</dt>
			<dd>
				<a href="/school/10699.html" target="_blank" title="西北工业大学">
					西北工业大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/11414.html" target="_blank" title="中国石油大学（华东）">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/11414.png" src="../assets191212/img/logoBd.svg" alt="中国石油大学（华东）">
				</a>
			</dt>
			<dd>
				<a href="/school/11414.html" target="_blank" title="中国石油大学（华东）">
					中国石油大学（华东）
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/11415.html" target="_blank" title="中国地质大学（北京）">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/11415.png" src="../assets191212/img/logoBd.svg" alt="中国地质大学（北京）">
				</a>
			</dt>
			<dd>
				<a href="/school/11415.html" target="_blank" title="中国地质大学（北京）">
					中国地质大学（北京）
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/21414.html" target="_blank" title="中国石油大学（北京）">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/21414.png" src="../assets191212/img/logoBd.svg" alt="中国石油大学（北京）">
				</a>
			</dt>
			<dd>
				<a href="/school/21414.html" target="_blank"  title="中国石油大学（北京）">
					中国石油大学（北京）
				</a>
			</dd>
		</dl>
	</div>
	<div class="school-list">
		<dl>
			<dt>
				<a href="/school/51315.html" target="_blank" title="广东开放大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/51315.png" src="../assets191212/img/logoBd.svg" alt="广东开放大学">
				</a>
			</dt>
			<dd>
				<a href="/school/51315.html" target="_blank" title="广东开放大学">
					广东开放大学
				</a>
			</dd>
		</dl>
		<dl>
			<dt>
				<a href="/school/51357.html" target="_blank" title="云南开放大学">
					<img class="lazy" data-original="http://www.open.com.cn/product/img/schoollogo/20190826/15668172735d63bbf975b63.png" src="../assets191212/img/logoBd.svg" alt="云南开放大学">
				</a>
			</dt>
			<dd>
				<a href="/school/51357.html" target="_blank" title="云南开放大学">
					云南开放大学
				</a>
			</dd>
		</dl>
		<dl class="hide"><dt></dt><dd></dd></dl>
		<dl class="hide"><dt></dt><dd></dd></dl>
		<dl class="hide"><dt></dt><dd></dd></dl>
	</div>
</div>