<div class="education-box">
	<div class="title">
		<span>—&nbsp;—</span>
		<h6>奥鹏教育，圆百万学子升学梦</h6>
		<span>—&nbsp;—</span>
	</div>
	<div class="container">
		<dl>
			<dt>
				<img class="lazy" data-original="./assets191212/img/edu1.jpg" src="../assets191212/img/logoBd.svg" alt="合作院校300+" />
			</dt>
			<dd class="sub-title">
				合作院校300+
			</dd>
			<dd>
				与全国300多所院校合作，<br />
				含金量高
			</dd>
		</dl>
		<dl>
			<dt>
				<img class="lazy" data-original="./assets191212/img/edu2.jpg" src="../assets191212/img/logoBd.svg" alt="热门专业400+" />
			</dt>
			<dd class="sub-title">
				热门专业400+
			</dd>
			<dd>
				学历教育招生专业超过400个<br />
				，覆盖面广
			</dd>
		</dl>
		<dl>
			<dt>
				<img class="lazy" data-original="./assets191212/img/edu3.jpg" src="../assets191212/img/logoBd.svg" alt="服务学生300w+" />
			</dt>
			<dd class="sub-title">
				服务学生300w+
			</dd>
			<dd>
				为300万多学员提供优质服务<br />
				，提升学历
			</dd>
		</dl>
		<dl>
			<dt>
				<img class="lazy" data-original="./assets191212/img/edu4.jpg" src="../assets191212/img/logoBd.svg" alt="学习中心1840+" />
			</dt>
			<dd class="sub-title">
				学习中心1840+
			</dd>
			<dd>
				全国有1840家学习中心为广<br />
				大学员提供实时服务
			</dd>
		</dl>
	</div>
</div>