<div id="myPrice" class="my-price">
	<div class="line"></div>
	<div class="box">
		<img class="price" src="../assets191212/img/gift01.png"/>
		<dl class="infor">
			<dt>【我的奖品】</dt>
			<dd class="type">
				二等奖：限量版奥鹏双肩包（价值299元）
			</dd>
			<dd id="personName" data-val="杨一一">
				姓名：杨一一
			</dd>
			<dd id="personPhone" class="tel" data-val="188****2345">
				电话：188****2345
			</dd>
			<dd>
				<span>收货信息：</span>
				<em id="personAddr" data-val="北京市海淀区国防科科技园北京市海淀区国防科科技园">北京市海淀区国防科科技园北京市海淀区国防科科技园</em>
				<i class="repaireAddr">修改收货信息</i>
			</dd>
		</dl>
		<p class="crossing"></p>
		<div class="attention">
			注意：奖品发货前可修改收货信息，奖品一旦发出，不可再修改发货信息，请填写准确的收货信息。
		</div>
	</div>
</div>