<div id="priceSet" class="price-set clearfix">
	<div class="price-list">
		<div class="outer"></div>
		<div class="inner">
			<p class="logo"></p>
			<p class="explain">
				<i>※ </i>
				<em>各奖品颜色均随机发放</em>
			</p>
			<div class="middle">
				<dl class="gift gftone gift1">
					<dt>
						<img class="lazy" data-original="./assets191212/img/gift1.png" src="../assets191212/img/logoBd.svg" alt="kindle电子书" />
					</dt>
					<dd>
						<label>0名</label>
						<span>特等奖：<i></i></span>
					</dd>
					<dd class="value">
						（价值999元）
					</dd>
				</dl>
				<dl class="gift gfttwo gift2">
					<dt>
						<img class="lazy" data-original="./assets191212/img/gift11.png" src="../assets191212/img/logoBd.svg" alt="美的扫地机器人" />
					</dt>
					<dd>
						<label>0名</label>
						<span>一等奖：</span>
					</dd>
					<dd class="value">
						<i></i><br />
						（价值699元）
					</dd>
				</dl>
				<dl class="gift gftthr gift3">
					<dt>
						<img class="lazy" data-original="./assets191212/img/gift01.png" src="../assets191212/img/logoBd.svg" alt="限量版奥鹏双肩包" />
					</dt>
					<dd>
						<label>0名</label>
						<span>二等奖：</span>
					</dd>
					<dd class="value">
						<i></i><br />
						（价值299元）
					</dd>
				</dl>
				<dl class="gift gftfor gift4">
					<dt>
						<img class="lazy" data-original="./assets191212/img/gift10.png" src="../assets191212/img/logoBd.svg" alt="奥鹏大礼包一套" />
					</dt>
					<dd>
						<label>0名</label>
						<span>三等奖：</span>
					</dd>
					<dd class="value">
						<i></i><br />
						（价值129元）
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="price-person">
		<div class="outer"></div>
		<div class="inner">
			<p class="logo"></p>
			<div id="demo">
				<div id="demo1">
					<ul id="winnerList" class="lists">
						<li class="nostart">
							暂未揭晓
						</li>
						<!--<li class="clearfix">
							<i>137*****2222</i>
							<em>获得三等奖</em>
						</li>-->
					</ul>
				</div>
				<div id="demo2">
					<ul class="lists">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>