<div class="singular-tip">
	<div class="com-masker"></div>
	<div class="outer bounceIn">
		<dl class="content">
			<!--<dt>您已经成功参加了抽奖活动，</dt>
			<dd>请不要重复提交信息了哦！</dd>-->
			
			<!--<dt>
				非常抱歉，本活动仅限
			</dt>
			<dd>
				2019年12月11日-12月13日期间
			</dd>
			<dd>
				报名并缴纳首期学费的学员参与哦。
			</dd>-->
			
			<!--<dt>本活动仅限在官网报名或者</dt>
			<dd>在学习中心扫码报名的学员参与哦~</dd>-->
			
			<!--<dt class="sorry">
				<img src="../assets191212/img/cry.png" alt="" />
			</dt>
			<dd>
				哎呀太遗憾了，你和奖品仅差0.1厘米~
			</dd>-->
			
			<!--<dt>
				<span class="iconfont error-icon">&#xe724;</span>
				服务器正在开小差，请稍后再试
			</dt>-->
		</dl>
		<dl>
			<dd class="option">
				<button>确定</button>
			</dd>
		</dl>
	</div>
</div>