<dl class="slider-box">
	<dt class="heart-animate">
		<img src="../assets191212/img/sliderIcon.png" alt="导航" />
	</dt>
	<dd>
		<a href="#lattery">
			幸运大转盘
		</a>
		<a id="sliderPrice" href="#myPrice" style="display: none;">
			我的奖品
		</a>
		<a id="gameStrategy" href="javascript:void(0)">
			活动攻略
		</a>
		<a class="wx" href="javascript:void(0)">
			官方微信
			<p class="wx-code">
				<em class="mask-tip"></em>
				<span class="arrow"></span>
				<img src="../assets191212/img/wxShare.png" alt="奥鹏微信公众号">
			</p>
		</a>
		<a id="weChat" href="javascript:void(0)">
			在线咨询
		</a>
		<a class="return" href="#header">
			返回顶部
		</a>
	</dd>
</dl>