<div class="abnormal bounceIn close5">
	<div class="abnormal_inner">
		<div class="wenxin">
			<div class="ab_img">
				<img src="./assetsfc191111/img/wenXin.png" alt="">
			</div>
			<div class="ab_intr">
				温馨提示：本活动仅限未报读的<span>新用户</span>以及奥鹏教育OCES平台显示<span>已毕业</span>的学生参与哦！更多活动敬请期待！
			</div>
		</div>
		<div class="buhao">
			<div class="ab_img">
				<img src="./assetsfc191111/img/buHao.png" alt="">
			</div>
			<div class="ab_intr">
				您的手速太快啦，歇一会再点吧~
			</div>
		</div>
		<div class="taiyi">
			<div class="ab_img">
				<img src="./assetsfc191111/img/taiYi.png" alt="">
			</div>
			<div class="ab_intr">
				非常遗憾，助学金已经被抢完啦！ 下次活动敬请期待~
			</div>
		</div>
		<div class="ninde">
			<div class="ab_img">
				<img src="./assetsfc191111/img/ninDe.png" alt="">
			</div>
			<div class="ab_intr">
				您的宝箱开启次数已达上限~ 下次活动期待您的参与哦！
			</div>
		</div>
		<div class="ab_btn">
			<div class="ab_btn_inn">
				确定
			</div>
		</div>
		<i class="iconfont abpx">&#xe650;</i>
		<!-- <i class="iconfont iconbaseline-close-px abpx"></i> -->
	</div>
</div>
