<div class="chest">
	<div class="chest_inner">
		<!-- <div class="shest_one" id="">
			<img id="chestO" class="chestOne" data-id='1' src="./assetsfc191111/img/chest.png" alt="">
			<img id="chestOne"  src="./assetsfc191111/img/kai.png" alt="">
		</div>
		<div class="shest_one" id="">
			<img id="chestT" class="chestOne" data-id='2' src="./assetsfc191111/img/chest.png" alt="">
			<img id="chestTwo" src="./assetsfc191111/img/kai.png" alt="">
		</div>
		<div class="shest_one" id="">
			<img id="chestTh" class="chestOne" data-id='3' src="./assetsfc191111/img/chest.png" alt="">
			<img id="chestThree" src="./assetsfc191111/img/kai.png" alt="">
		</div> -->
	</div>
	<p class="chest_p">点击宝箱开启幸运大奖，您还有 <span></span> 次机会</p>
	<div class="chest_xianTiao"></div>
</div>