<div class="footer-common">
    <div class="copyright">
        <p>
        	<a href="/about/index.html" target="_blank">关于我们</a>
        	<em>|</em>
        	<a href="/about/fv.html" target="_blank">法律声明</a>
        	<em>|</em>
        	<a href="/about/links.html" target="_blank">友情链接</a>
        	<em>|</em>
        	<a href="/about/lianxiwomen.html" target="_blank">联系我们</a>
        </p>
        <p>版权所有：北京奥鹏远程教育中心有限公司 Copyright ©2003-2018 open.com.cn ALL rights reserved</p>
        <p>
			<span>登记序号：京ICP备12003892号-3 京ICP证090034号</span>　
        	<img class="emblem" src="./assetsfc191111/img/emblem.png" alt="国徽" />
			<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802026030" target="_blank">
				<span>京公网安备 11010802026030号</span>
			</a>
        </p>
        <p class="certificate">
        	<a href="http://si.trustutn.org/info?sn=850141231010742456333" target="_blank">
        		<img src="./assetsfc191111/img/certificate.png" />
        	</a>
        	<a href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1754651512" target="_blank">
        		<img src="./assetsfc191111/img/netCertificate.png" />
        	</a>
        	<a href="https://ss.knet.cn/verifyseal.dll?sn=2011070100100011120&ct=df&a=1&pa=0.18111569731009736" target="_blank">
        		<img src="./assetsfc191111/img/beliveCertificate.png"/>
        	</a>
        	<a href="https://credit.cecdc.com/CX20140929005218005302.html" target="_blank">
        		<img src="./assetsfc191111/img/honestCertificate.png" />
        	</a>
        	<a href="https://credit.cecdc.com/CX20140929005218005302.html" target="_blank">
        		<img src="./assetsfc191111/img/konwCertificate.png" />
        	</a>
        	<a href="http://si.trustutn.org/info?sn=138171012030664870008&amp;certType=1" target="_blank">
        		<img src="./assetsfc191111/img/productCertificate.png" />
        	</a>
        	<a href="https://v.pinpaibao.com.cn/cert/site/?site=www.open.com.cn&at=business" target="_blank">
        		<img src="./assetsfc191111/img/industryCertificate.png"/>
        	</a>
        </p>
    </div>
</div>