<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="./css/index.css"/>
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_1451885_b25nmjvu88w.css">
	</head>
	<body>
		@@include("./template/header.html")
		<div class="YRBF">
			@@include("./template/banner.html")
			@@include("./template/help.html")
			@@include("./template/activityOne.html")
			@@include("./template/activityTwo.html")
			@@include("./template/rules.html")
		</div>
		<div class="FC">
			<img class="s2" src="./assetsfc191111/img/s2.png" alt="">
			<img class="s1" src="./assetsfc191111/img/s2.png" alt="">
			<img class="s3" src="./assetsfc191111/img/s1.png" alt="">
			<img class="s4" src="./assetsfc191111/img/yuan.png" alt="">
			<img class="s5" src="./assetsfc191111/img/s5.png" alt="">
		</div>
		@@include("./template/school.html")
		@@include("./template/study.html")
		@@include("./template/suspend.html")
		@@include("./template/invite.html")
		@@include("./template/abnormal.html")
		@@include("./template/for.html")
		@@include("./template/lucky.html")
		@@include("./template/posters.html")
		@@include("./template/no.html")
		@@include("./template/tip.html")
		<script type="text/javascript" src="./js/lib/vendor/vendor.js"></script>
		<script type="text/javascript" src="./js/index.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
	</body>
</html>
