<div class="list">
	<div class="list_tit">
		 【获奖名单】
	</div>
	<div class="list_proson">
		<div id="demo" class="list_div">
			 <ul id="demo1">
			 <!-- <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7317</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7537</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7637</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****4627</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****2167</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****2167</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****167</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****3867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****4867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****6867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****2867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****3867</span><span class="list_text">获得100元助学金</span></li> -->
			 </ul>
		 <div id="demo2"></div>
		</div>
		<div id="dem" class="list_div">
			 <ul id="dem1">
			 <!-- <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7317</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****1827</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7537</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****7637</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****4627</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****2167</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****2167</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****167</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****3867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****4867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****6867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****2867</span><span class="list_text">获得100元助学金</span></li>
			 <li><span class="list_phone">135*****3867</span><span class="list_text">获得100元助学金</span></li> -->
			 </ul>
			<div id="dem2"></div>	
		</div>
	</div>
</div>