<div class="lucky close4">
	<div class="lucky_inner">
		<div class="rpbf">
			<!-- <h1>人品爆棚</h1>
			<p class="gongXi">恭喜获得奥鹏教育<span>${money}</span>元助学金</p>
			<p class="chaSHou">助学金已存入您的账户，请在“我的助学金”中查看！</p>
			<div class="lucky_img">
				<b><span>&yen;</span>$</b>
				<div class="con_btn">
				    <p>助学金</p>
				</div>
			</div>
			<div class="lucky_intr">
				还有<span>2</span>次开启机会
			</div>
			<img class="start" src="./assetsfc191111/img/start.png" alt="">
			<p class="zhu">注：仅限报名奥鹏教育支付缴费时使用</p> -->
		</div>
		<div class="lucky_btn">
			<div class="lucky_btn_inn">
				确定
			</div>
		</div>
		<i class="iconfont luckypx">&#xe650;</i>
		<!-- <i class="iconfont iconbaseline-close-px luckypx"></i> -->
	</div>
</div>
