<div class="assistance-popup">
	<div class="com-masker"></div>
	<div class="outer">
		<dl class="bounceIn">
			<dt>
				邀请好友助力
				<i class="close">&times;</i>
			</dt>
			<dd class="title">
				微信邀请
			</dd>
			<dd class="ercode">
				<img src="../assets1911/img/erCode.png" alt="" />
			</dd>
			<dd class="inval">
				链接邀请
			</dd>
			<dd class="copy-link clearfix">
				<input id="linkVal" type="text" readonly="readonly" />
				<button class="active-hover" id="copyLink">复制链接</button>
			</dd>
			<dd class="playbill">
				海报邀请
			</dd>
			<dd class="get-plybill">
				<button class="active-hover">
					点击生成海报
				</button>
			</dd>
		</dl>
	</div>
</div>