<div class="congratulation-tip">
	<div class="com-masker"></div>
	<div class="outer">
		<dl class="bounceIn">
			<dt>
				幸运降临
			</dt>
			<dd class="title">
				恭喜你！成功获得奥鹏教育免单神券一张！
			</dd>
			<dd class="sub-title">
				助学金已存入你的账户，请在“我的助学金”中查看！
			</dd>
			<dd class="price-type">
				<!--<img class="star" src="../assets1911/img/star.png" alt="" />-->
				<!--<img class="conpou" src="../assets1911/img/priceCircle.png" alt="" />-->
				<!--<img class="conpou" src="../assets1911/img/freeCircle.png" alt="" />-->
				<!--<div class="price-box">
					<p class="price">
						<em>￥</em><i>200</i>
					</p>
					<p class="money">
						助学金
					</p>
				</div>-->
			</dd>
			<dd class="content">
				还有<span></span>次秒抢助学金的机会
			</dd>
			<dd class="sure active-hover">
				确定
			</dd>
			<dd class="tip">
				注：仅限支付首期学费（不包括已缴纳的订金）
			</dd>
		</dl>
	</div>
</div>