<div class="net-wrong-tip1">
	<div class="com-masker"></div>
	<div class="outer">
		<dl class="bounceIn">
			<dt>
				<img src="../assets1911/img/cry.png" style="display: none;" alt="" />
				<img style="display: none;" src="../assets1911/img/smile.png" alt="" />
			</dt>
			<dd class="content" style="display: none;">
				你的手速太快啦,<br />歇一会再点吧~
<!--				不好意思，服务器开小差了，<br />请检查网络后再试哦~-->
			</dd>
			<dd class="content" style="display: none;">
				你已为小伙伴更好的<br />未来成功助力！
			</dd>
			<dd class="content" style="display: none;">
				太热情啦！<br />你已经为该小伙伴助力过啦~
			</dd>
			<dd class="content" style="display: none;">
				参加抽奖的鹏友太多啦！<br />
				造成网络繁忙，别慌！<br />
				幸运已经上路，请重新点击试一下！
			</dd>
			<dd class="content" style="display: none;">
				提交超时，请稍后重新尝试
			</dd>
			<dd class="sure active-hover">
				确定
			</dd>
		</dl>
	</div>
</div>