<div class="regist-school">
	<p>推荐院校</p>
	<a href="/school/10013.html">
		<dl>
			<dt>
				<img src="http://www.open.com.cn/product/img/schoollogo/10013.png"/>
			</dt>
			<dd>北京邮电大学</dd>
		</dl>
	</a>
	<a href="/school/10002.html">
		<dl>
		<dt>
			<img src="http://www.open.com.cn/product/img/schoollogo/10002.png"/>
		</dt>
		<dd>中国人民大学</dd>
	</dl>
	</a>
	<a href="/school/10511.html">
		<dl>
		<dt>
			<img src="http://www.open.com.cn/product/img/schoollogo/10511.png"/>
		</dt>
		<dd>华中师范大学</dd>
	</dl>
	</a>
	<a href="/school/10183.html">
		<dl>
		<dt>
			<img src="http://www.open.com.cn/product/img/schoollogo/10183.png"/>
		</dt>
		<dd>吉林大学</dd>
	</dl>
	</a>
	<a href="/school/10055.html">
		<dl>
		<dt>
			<img src="http://www.open.com.cn/product/img/schoollogo/10055.png"/>
		</dt>
		<dd>南开大学</dd>
	</dl>
	</a>
	<a href="/school/10159.html">
		<dl>
		<dt>
			<img src="http://www.open.com.cn/product/img/schoollogo/10159.png"/>
		</dt>
		<dd>中国医科大学</dd>
	</dl>
	</a>
	<a href="/school/10032.html">
		<dl>
		<dt>
			<img src="http://www.open.com.cn/product/img/schoollogo/10032.png"/>
		</dt>
		<dd>北京语言大学</dd>
	</dl>
	</a>
	<a href="/school/10614.html">
		<dl>
		<dt>
			<img src="http://www.open.com.cn/product/img/schoollogo/10614.png"/>
		</dt>
		<dd>电子科技大学</dd>
	</dl>
	</a>
</div>
